body{
	background:white;
	margin:0;
	padding:0;
	font-family:Trebuchet MS,Arial;
	font-size:80%;


}
img{
	margin:0;
	padding:0;
	border:none;
}

h1{
	padding:0;
	margin:0;
	text-indent:-999em;
}
.logo {
	position:absolute;
	left:0;
	top:68px;
	background: url(logo.jpg) center no-repeat;
	height:133px;
	width:100%;
	display:block;
}
.logo a{
	position:absolute;
	left:50%;
	top:0;
	height:133px;
	width:300px;
	margin:0 0 0 -151px;
	background:none;
	display:block;
}

/*h2,h3,h4{text-shadow: 0px 0 4px #222; }*/

h2{
	float:left;
	margin:5px 0 5px 20px!important;
	margin:5px 0 5px 15px;
	padding:0 10px 5px 7px;
	width:840px;
	font-weight:normal;
	font-size:18px;
	color:#666;
	background: url(shad_bg.jpg) left bottom no-repeat;
}
h3{
	float:left;
	width:840px;
	font-weight:normal;
	font-size:16px;
	color:#666;
	margin:5px 0 5px 20px!important;
	margin:5px 0 5px 15px;
	padding:0 10px 5px 7px;
	background: url(shad_bg.jpg) left bottom no-repeat;
}
h4{
	margin:0;
	padding:0;

}
a{	color:#cc0505; font-weight:700; text-decoration:none; outline:none;}
a:hover{color:#777;text-decoration:none;outline:none;}
.main{
	background:#fff url(bg.jpg) center repeat-y;
	position:absolute;
	width:100%;
}
.main_content{
	margin:0 auto;
	padding:198px 0 0 0!important;
	padding:198px 0 0 0;	
	width:900px;
	display:block;
}
.main_content_demo{
	margin:0 auto;
	padding:0;
	width:900px;
	display:block;
}
.header{
	position:absolute;
	left:50%;
	top:0;
	margin:0 0 0 -455px;
	width:910px;
	height:68px;
	background:url(header.jpg) center top no-repeat;
	display:block;
}
.switch_ul{
	float:left;
	width:524px;
	height:68px;
	display:block;
	margin:0 0 0 191px!important;
	margin:0 0 0 96px;
	display:block;
	background:url(header_ul.jpg) center top no-repeat;
}
.switch_ul li {
	float:left;
}
.switch_ul li a{
	float:left;
	line-height:64px;
	width:131px;
	height:68px;
	display:block;
	font-size:14px;
	text-align:center;
	color:#666;
	text-transform:uppercase;
	font-weight:normal;
	letter-spacing:1px;
}
.switch_ul li a:hover{
	color:#999;

}
.switch_ul li.home a:hover{
	background:url(header_h.jpg) 1px 0 no-repeat;
}
.switch_ul li.download a:hover{
	background:url(header_h.jpg) -130px  0 no-repeat;
}
.switch_ul li.contact a:hover{
	background:url(header_h.jpg) -261px  0 no-repeat;
}
.switch_ul li.pirobox_1 a:hover{
	background:url(header_h.jpg) -392px  0 no-repeat;
}

.description{
	float:left;
	font-size:12px;
	width:850px;
	border-left:1px solid #ccc;
	margin:5px 0 5px 15px!important;
	margin:5px 0 5px 10px;
	padding:5px;
}
.details{
	float:left;
	margin:5px 0 5px 20px!important;
	margin:5px 0 5px 15px;
	width:850px;
	background: url(li.jpg) repeat-y;

}
.details li{
	margin:0;
	padding: 4px 3px 2px 15px;
	background: url(li_descr.jpg) center left no-repeat;
	border-bottom:2px solid white;
}
.code{
	float:left;
	margin:15px 0 10px 28px!important;
	margin:15px 0 10px 14px;
	width:832px;
	background: url(code.jpg) left bottom no-repeat;
	padding:10px 0 10px 10px;
	font-size:12px;
	display:block;
	border-top:1px solid #ededed;
}

a.active_switch ,a:hover.active_switch{
	color:black;
	text-decoration:line-through;
	cursor:default;
}
.highlites{
	color:red;
	font-size:11px;
}
.expl{
	float:left;
	width:820px;
	margin:5px 0 5px 20px!important;
	margin:5px 0 5px 15px;
	padding:5px;
	color:black;
	font-weight:300;
	font-size:11px;
	background: url(li.jpg) repeat-y;
	border-left:2px solid #ccc;
}
.select{
	position:absolute;
	width:132px;
	text-align:center;
	left:50%;
	top:0;
	margin:640px 0 0 270px;
	color:#999;
	display:block!important;
	display:none;
}
.down_arr{
	position:absolute;
	width:20px;
	height:20px;
	right:7px;
	top:3px;
	cursor:pointer;
}
.select_down{
	float:left;
	width:132px;
	height:23px;
	background:url(select.png) center bottom no-repeat;
	text-align:left;
	line-height:21px;
	text-indent:20px;

}
.select_up{
	float:left;
	width:132px;
	height:23px;
	background:url(select_up.jpg) center bottom no-repeat;
	text-align:left;
	line-height:21px;
	text-indent:20px;
}
.select dd{
	float:left;
	width:132px;
	height:20px;
	background:url(bg_select_li.jpg) center bottom;
	font-size:11px;
	display:block;


}
.select dd.last{
	float:left;
	width:132px;
	height:11px;
	background:url(last.jpg) center bottom no-repeat;
}
.top a{
	position:fixed!important;
	position:absolute;
	left:50%;
	margin:0 0 0 422px;
	bottom:10px;
	width:23px;
	height:14px;
	display:block;
	background:#444;
	text-align:center;
	color:white;
	font-size:10px;
	padding:2px;
}

.contact_form {
	width:840px; 
	float:left; 
	margin:10px 0 20px 20px!important;
	margin:5px 0 10px 10px;	
}
.contact_form ul {
}
.contact_form li {
	margin:0; 
	padding:0; 
	text-transform:none;
}
.contact_form legend {
	border:none; 
	text-transform:uppercase;
	color:#999;
	font-size:16px;
}
.contact_form fieldset {
	border:1px solid #ededed; 
	margin:0; 
	padding:8px;
}
.input { 
	width:410px; 
	background: url(form.jpg) bottom;
	color:#999;
	border:1px solid #ccc;
	font-family:Trebuchet MS,Arial; 
	font-size:16px;
	margin:10px 0 0 0;
	padding:5px 0 5px 4px;
}
.textarea {
	width:830px; 
	margin:10px 0 0 0; 
	height:150px; 
	border:1px solid #ccc;
	background: url(form.jpg) bottom;
	color:#999;
	font-family:Trebuchet MS,Arial; 
	font-size:16px;
	padding:5px 0 0 4px;
}
#load_img {
	display: none;
	line-height: 26px;
}

.error {
	border:1px solid #999;
	color:black;
}
#result{
	margin:0 0 0 10px;
}
.fail {
	color: red;
	font-size:16px;
}

.success {
	color: black;
	font-size:16px;

}
.submitbutton{
	float:left;
	width:400px;
}
.submit { 
	width:160px; 
	background: url(form.jpg) bottom;
	border:1px solid #ccc;
	color:#999;
	font-family:Trebuchet MS,Arial; 
	font-size:14px;
	padding:4px;
	margin:10px 0 0 0;
}
.required{

	position:absolute;
	width:90px;
	height:16px;
	background:#333;
	color:white;
	display:block;
	padding:0 0 1px 0;
	font-size:12px;
	margin:13px 0 0 -95px;
	display:none;
	text-align:center;
}
/*::::::::::::::COMMENTS:::::::::::::::*/
.numero_comm{
	float:left;
	color:#999;
	position:relative;
	background:url(date.jpg) no-repeat;
	height:24px;
	line-height:24px;
	width:28px;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	margin:10px 0 -10px 15px!important;
	margin:10px 0 -10px 8px;
	padding:0;
}
.numero_my_comm{
	float:left;
	color:#000;
	position:relative;
	background:url(mydate.jpg) no-repeat;
	height:24px;
	line-height:24px;
	width:28px;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	margin:10px 0 -10px 15px!important;
	margin:10px 0 -10px 8px;
	padding:0;
}
.data{
	font-size:10px;
	padding:0;
	color:#b6b6b6;
}
.mydata{
	font-size:10px;
	padding:0;
	color:#222;
}
.viewmessage{
	float:left; 
	width:840px; 
	margin:0 0 10px 20px!important;
	margin:0 0 10px 13px;
	border:1px solid #ccc;
	background: url(form.jpg) bottom;
	color:#999;
	padding:12px 5px 5px 5px;
}
.viewmessage pre{
		font-family:Trebuchet MS,Arial;
		font-size:12px;
		width:840px;
		display:block;
		overflow:auto;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.viewmymessage{
	float:left; 
	width:840px; 
	margin:0 0 10px 20px!important;
	margin:0 0 10px 13px;
	border:1px solid #adacad;
	background: url(myform.jpg) bottom;
	color:#000;
	padding:12px 5px 5px 5px;
}
.viewmymessage pre{
		font-family:Trebuchet MS,Arial;
		font-size:12px;
		width:840px;
		display:block;
		overflow:auto;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.demo a{ float:left; margin:0; padding:0; margin:5px 0px 5px 19px!important; margin:5px 10px 5px 10px; display:block; border:3px solid #efefef;}
.demo a:hover{ border:3px solid #fff}
.demo a img{ float:left; margin:0; padding:0; margin:0; background:url(bg_tms.jpg) no-repeat;}
ul,li,dl,dt,dd{
	list-style-type:none;
	margin:0;
	padding:0;
}
