/* - - - FONTS - - - */
@font-face {
font-family: 'UniversLTStd55Roman';
src: url('../fonts/ULTStd.eot');
}

@font-face {
font-family: 'UniversLTStd55Roman';
src: url('../fonts/ULTStd.woff') format('woff'),
url('../fonts/ULTStd.svg#UniversLTStd') format('svg');
}

@font-face {
font-family: 'UniversLTStd-Light';
src: url('../fonts/ULTStd-Light.eot');
}

@font-face {
font-family: 'UniversLTStd-Light';
src: url('../fonts/ULTStd-Light.woff') format('woff'),
url('../fonts/ULTStd-Light.svg#UniversLTStd-Light') format('svg');
}

@font-face {
font-family: 'UniversLTStd-Bold';
src: url('../fonts/ULTStd-Bold.eot');
}

@font-face {
font-family: 'UniversLTStd-Bold';
src: url('../fonts/ULTStd-Bold.woff') format('woff'),
url('../fonts/ULTStd-Bold.svg#UniversLTStd-Bold') format('svg');
}
a { font-weight: normal; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
.Content a:hover, a:hover { color: #ea3a3e; text-decoration: none; }

.Content h2, .Right h2, .TitleHeading { color: #424140; font-family: 'UniversLTStd-Light', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 36px; font-weight: normal; line-height: 40px; text-transform: uppercase; }
.Right .select-vehicle h2 { color: #424140; font-family: 'UniversLTStd-Light', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal; line-height: 20px; text-transform: uppercase; }
.Right h2 { margin: 0; width: auto; }
.Content h3 { color: #424140; font-family: 'UniversLTStd-Bold', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 20px; text-transform: uppercase; }

body { background: none; /*background: url(../images/stainless-steel.jpg) center top no-repeat;*/ }
#BG { background: url(../images/stainless-steel.jpg) center top no-repeat; position: fixed; z-index: 1; top: 0; bottom: 0; left: 0; right: 0; }
#Container { width: 1286px; background: url(../images/content-bg.png) center top repeat-y; position: relative; z-index: 100; }
#TopMenu { background: black; padding: 0 35px; }
#Outer { margin-top: 0; padding: 25px 43px 0 43px; background: transparent; min-height: 1100px; }
#Header { background: black; padding: 0 35px 20px; height: 115px; border-bottom: none; }
#Header .phone-number { position: absolute;
color: white;
font-family: 'UniversLTStd-Light', 'Trebuchet MS', Arial, Helvetica, sans-serif;
font-size: 30px;
font-weight: normal;
line-height: 20px;
margin: 30px 0 0 690px;  }
#Wrapper {  }
#Top { padding: 0 8px; }
#Menu { background: black;  position: absolute;
margin: 68px 0 0 210px; }
#Menu li a { color: #bdbdbd; background: none; }
#Menu li a {
padding: 6px 10px 4px 10px;
height: 18px; }
#Menu li a:hover { color: white; }
#Menu li.ActivePage a { color: #ea3a3e; }
#Menu li:hover a, #Menu li.over a { background: none; }
#Menu li { background: url(../images/separator.jpg) left center no-repeat; }
.head-phone-add { background: url(../images/header-gray.gif) left top no-repeat; width: 460px; height: 50px; float: left; margin-top: 15px; }
.head-add { font-size: 12px; position: absolute; margin: 13px 0 0 15px; color:#535353}
.head-map { position: absolute; margin: 13px 0 0 45px; color: #535353; font-size: 12px; text-decoration: none; }
.head-map:hover { text-decoration: underline; }
#Logo { width: 212px; }
.Content.hp { width: 919px; }
.Content { background: none; padding: 0; }
#Slider { height: 508px; }
.RecentNews { float: left; width: 212px; }
.RecentNews .BlockContent { background: #efefef; padding: 22px; }
.RecentNews .BlockContent ul { margin: 0; }
.RecentNews .BlockContent ul li { list-style: none; padding-bottom: 25px; background: url(../images/dot-points.gif) left bottom repeat-x; margin-bottom: 25px; }
.RecentNews .BlockContent ul li:last-child { padding-bottom: 0; background: none; margin-bottom: 0; }
.RecentNews .BlockContent ul li a { text-transform: uppercase; color: black; text-decoration: none; }
.RecentNews .BlockContent ul li a.read-more { text-transform: none; color: #ea3a3e; display: block; padding-top: 6px; }
.RecentNews .BlockContent ul li a:hover { color: #ea3a3e; }

.hp-content-left { width: 690px; float: right; }
.Content .FeedLink { display: none; }


.Content .ProductList li { margin: 0; padding: 0; }
.Content .FeaturedProducts .ProductList li, .Content .NewProducts .ProductList li { background: #efefef; margin-right: 14px; }
.Content .FeaturedProducts .ProductList li:last-child, .Content .NewProducts .ProductList li:last-child { margin: 0; }
.prod-wrapper { padding: 15px; }
.ProductList strong, .ProductList strong a { text-transform: uppercase; color: black; text-decoration: none; }
.ProductPrice, .ProductList em { color: black; padding-top: 10px; font-size: 16px; }
.Content .ProductActionAdd a, .Content .ProductActionAdd strong a, .Right .ProductActionAdd a, .Right .ProductActionAdd strong a, .Left .ProductActionAdd strong a, #fastCartContainer .ProductActionAdd a  { display: block; background: #b3b3b3 url(../images/more-arrow.gif) 110px center no-repeat; padding: 6px; text-align: center; color: white; text-decoration: none; }
.Content .ProductActionAdd a:hover, .Content .ProductActionAdd strong a:hover, .Right .ProductActionAdd a:hover, .Right .ProductActionAdd strong a:hover, .Left .ProductActionAdd strong a:hover, #fastCartContainer .ProductActionAdd a:hover { color: #ea3a3e;  }
.Content .NewProducts { padding-top: 25px; }
.Right .ProductActionAdd a, .Right .ProductActionAdd strong a { background: #b3b3b3 url(../images/more-arrow.gif) 210px center no-repeat; }
.Right .TopSellers .ProductActionAdd a, .Right .TopSellers .ProductActionAdd strong a { background: #b3b3b3 url(../images/more-arrow.gif) 185px center no-repeat }
.Right .TopSellers .TopSeller1 .ProductActionAdd a, .Right .TopSellers .TopSeller1 .ProductActionAdd strong a, .Left .ProductActionAdd strong a { background: #b3b3b3 url(../images/more-arrow.gif) 165px center no-repeat }




.Right.hp { background: none; width: 263px; font-size: 1em; }
.Right.hp .select-vehicle { height: 474px; background: #efefef url(../images/select-vehicle-head.gif) left top no-repeat; margin-bottom: 45px; }
.Right.hp .select-vehicle h2 { position: absolute; width: 200px; margin-top: 12px; margin-left: 15px; }
.Right.hp .select-vehicle .SV-wrapper { padding: 70px 15px 15px 15px; }
.Right.hp .select-vehicle .SV-search-wrapper { }
.SV-search h6 { color: #e94537; margin-bottom: 6px; font-size: 2.5em;}
.im-brands { }
#search_query-2, #search_query, #SearchForm input.Textbox { background: #f0efef; padding: 5px; width: 250px; }
#SearchForm-B .Button, #SearchForm .Button { position: absolute; margin: 3px 0 0 -20px; }
#SearchForm .Button { width: auto; height: auto; }


/* product page */

.prod-name { background: url(../images/cat-header.gif) left top no-repeat; width: 706px; height: 47px; padding: 15px 0 0 20px;text-align: left; }
.prod-name h2 { color: white; font-family: 'UniversLTStd-Bold','Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: normal; font-size: 26px; margin: 0;  }

.c-wrapper { float: left; width: 924px; }
.Left .Block h2, .Right .Block h2 { color: #424140; font-size: 25px; font-weight: normal; font-family: 'UniversLTStd-Light','Trebuchet MS', Arial, Helvetica, sans-serif; width: auto; text-transform: uppercase; line-height: 30px; }
.SortBox { width: 180px; }
.Left .BlockContent, .Right .BlockContent { background: #efefef; margin: 0; padding: 15px; font-family: 'UniversLTStd-Bold','Trebuchet MS', Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; }
.Left .Block, .Right .Block { margin-bottom: 25px; }
.Content.cat { padding-top: 38px; }
.Right.cat { padding-top: 20px;width: 263px; }

.Content .ProductList li { background: #EFEFEF; margin-right: 14px; }
#fastCartContainer .ProductList li {  background: #EFEFEF; } 
.Content .ProductList li:last-child { margin-right: 0; }
.SubCategoryList, .SubBrandList { background: none; }
.ProductList li .ProductCompareButton { text-align: left; }
.Left .TopSellers li.TopSeller1, .Right .TopSellers li.TopSeller1 { border: 1px solid silver; width: 220px; }
.ProductPrice, .ProductList em  { font-weight: normal; }
.Left .ProductList li, .Right .ProductList li { width: auto; }
.Left .TopSellers .ProductDetails, .Right .TopSellers .ProductDetails { width: auto; }
.Left .TopSellers li.TopSeller1 .ProductDetails, .Right .TopSellers li.TopSeller1 .ProductDetails {
margin-left: 0;
padding: 15px;
}
.Content .ProductList li {
margin-bottom: 15px;
}
.Content .ProductList li.fourth { margin-right: 0; }
.NewsletterSubscription input { width: 170px; }
.Left #SideCategoryList li, .Left .BrandList li { background: url(../images/list-arrow.gif) 0px 6px no-repeat; padding-left: 15px; }
.Content.prod { width: 960px; }
#ProductDetails .ProductThumbImage {
border: 1px solid #DDD;
}
.swatch input[type="radio"] { display: none; }
.BulkDiscount input[type="image"] { position: relative; left: 10px; }
.fastCartContent { width: auto; }
#ModalContainer { width: 730px!important; }
.Content.Wide { background: none; }
#TopMenu li a, #TopMenu li div { border-left: none; color: #666; }
#TopMenu li, #TopMenu li { background: url(../images/separator.jpg) 0px 6px no-repeat; }
#TopMenu ul { float: right; }
#SearchForm p { padding-top: 8px; }
#SearchForm a { color: #666; }
#SearchForm .adv-s { background: url(../images/separator.jpg) right top no-repeat; padding-right: 10px; }
.SubCategoryList li { float: left; }
.Content.Widest { background: none; }
.CompareButton { text-align: left; }


.Left {
float: left;
width: 211px;
margin-right: 20px;
background: none;
}

.Content {
float: left;
width: 693px;
min-height: 500px;
margin: 0;
padding: 0;
font-size: 0.95em;
}

.Right { /*background: #efefef;*/ background: none; width: 263px; }


#Footer {
clear: both;
font-size: 0.85em;
text-align: center;
margin: 0;
padding: 0 8px 0 8px;
border: none;
}
.foo-wrapper { background: black; padding: 25px 0 15px 0;margin-top: -50px; }
#Footer a { color: white; }

/* deleted from default.html

<div class="Left" id="LayoutColumn1">
			%%Panel.SideCategoryList%%
			%%Panel.SidePopularVendors%%
			%%Panel.SideShopByBrand%%
			%%Panel.SideNewsletterBox%%
			%%Panel.SideLiveChatServices%%
</div>


%%Panel.SideCartContents%%
			%%Panel.SideTopSellers%%
			%%Panel.SideNewProducts%%
			%%Panel.SidePopularProducts%%



*/
.car { background:url(../images/select-bg.png) no-repeat; width: 221px; height: 24px; float: left; border: none; margin: 0 0 12px 0; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 14px; color:#393939; padding:1px 0 0 10px;}
.butt {width: 96px; height: 32px; display: inline-block; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; ; line-height: 32px; background:#b3b3b3; border: none; margin: 15px 0 0 0; color: #fff; text-decoration: none;}
#SearchForm-B .Button{    margin: 3px 0 0 240px;
    position: absolute;}
