.slide-container {width:100%;float:left;text-align:center;margin-bottom:33px;}
.slide-show{float:left;position:relative;}
.indentmenu{position:absolute;bottom: 10px;left: 10px;z-index:999;}
.banner-content-style1{position:absolute; top:0; left:0;}
.indentmenu ul{margin: 2px;padding:0;float:left;background: transparent;}
.indentmenu ul li{float:left;list-style:none; margin:0 2px 0 0;}
.indentmenu ul li a{float: left;/*margin: 2px;*/color: #000;text-decoration: none;background: none repeat scroll 0 0 #999;
    border: 1px solid #353535; text-indent: -9999px; width:10px; height:10px;
}
.indentmenu ul li a:hover{background:white; text-indent: -9999px;}
.indentmenu ul li a.selected{background:red; color:#000; border: 1px solid red;display: block;text-indent: -9999px; width:10px; height:10px;}
.indentmenu ul li a.selected:hover{color: white !important;padding-top: 0px; /*shift text down 1px*/padding-bottom: 0px;}
.tabcontent{width:100%;float:left;position:relative;display:none;}
.tabcontent a{width:100%;float:left;z-index:9; text-decoration:none;}


@media print {.tabcontent {display:block !important;}}
.banner_content {padding:0px 10px 10px 10px;position:absolute;bottom:0;left:0;text-align:left;z-index:99; background:#000; opacity: 0.7; filter: alpha(opacity = 70); display: none;}
.banner_content p{color:#fff;}
/* Clear */
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}
