<?php
/**
 * MageParts
 * 
 * NOTICE OF LICENSE
 * 
 * This code is copyrighted by MageParts and may not be reproduced
 * and/or redistributed without a written permission by the copyright 
 * owners. If you wish to modify and/or redistribute this file please
 * contact us at info@mageparts.com for confirmation before doing
 * so. Please note that you are free to modify this file for personal
 * use only.
 *
 * If you wish to make modifications to this file we advice you to use
 * the "local" file scope in order to aviod conflicts with future updates. 
 * For information regarding modifications see http://www.magentocommerce.com.
 *  
 * DISCLAIMER
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE 
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF 
 * USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY 
 * OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
 * OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 * 
 * @category   MageParts
 * @package    MageParts_MediaLibrary
 * @copyright  Copyright (c) 2009 MageParts (http://www.mageparts.com/)
 * @author 	   MageParts Crew
 */
?>

<?php

	$storeId = Mage::helper('medialibrary')->getStoreId();

	$_conf = array(
		'MP_ML_CONF_IMAGE_CONSTRAIN' 	=> Mage::getStoreConfig('medialibrary/image/auto_constrain',$storeId),
		'MP_ML_CONF_IMAGE_PREV_WIDTH' 	=> intval(Mage::getStoreConfig('medialibrary/image/preview_width',$storeId)),
		'MP_ML_CONF_IMAGE_PREV_HEIGHT' 	=> intval(Mage::getStoreConfig('medialibrary/image/preview_height',$storeId)),
		'MP_ML_CONF_VIDEO_PREV_WIDTH' 	=> intval(Mage::getStoreConfig('medialibrary/video/preview_width',$storeId)),
		'MP_ML_CONF_VIDEO_PREV_HEIGHT' 	=> intval(Mage::getStoreConfig('medialibrary/video/preview_height',$storeId)),
		'MP_ML_CONF_VIDEO_AUTO_PLAY' 	=> Mage::getStoreConfig('medialibrary/video/auto_play',$storeId),
	);

?>

<div id="media-library-main-col">


<!-- 
	============================================================
	*														   *
	*						FOLDERS   						   *
	*														   *
	============================================================
-->

	<div id="media-library-folder" style="display:none;">
		<div class="content-header skip-header">
			<table cellspacing="0">
			    <tr>
			        <td><h3 class="icon-head" id="head-adminhtml-media-library-folder"></h3></td>
			        <td class="form-buttons">
			        	<?php echo $this->getDeleteMediaButtonHtml() ?>
			        	<?php echo $this->getCompressFileButtonHtml() ?>
			        	<?php echo $this->getCopyFileButtonHtml() ?>
			        	<?php echo $this->getPasteFileButtonHtml() ?>
			        	<?php echo $this->getSaveMediaButtonHtml() ?>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div class="media-library-edit-area entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('medialibrary')->__('General Information'); ?></h4>
			</div>
			<div class="fieldset fieldset-wide">
				<table class="form-list">
					<tbody>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Folder name'); ?></label></td>
							<td class="value"><input type="text" name="folder_filename" id="media-library-folder-filename" class="media-library-edit-txt" value="" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- UPLOADER -->
			<div id="media-library-folder-uploader">
				<?php
				
					$uploaderHtml = $this->getUploaderHtml();
				
					// we need to add the defer parameter for IE6
					if(stristr($_SERVER['HTTP_USER_AGENT'],'MSIE 6.')) {
						$uploaderHtml = preg_replace('/<script type="text\/javascript">\\n\/\/<\!\[CDATA\[/','<script type="text/javascript" defer="defer">'."\n".'//<![CDATA[',$uploaderHtml);
					}
					
					echo $uploaderHtml;
					
				?>
				
				<script type="text/javascript">
					//<![CDATA[
					
					Flex.Uploader.prototype.handleComplete = function (event) {
						// normal complete handle
						this.files = event.getData().files;
						this.updateFiles();
						if (this.onFilesComplete) {
					    	this.onFilesComplete(this.files);       
						}
						
						// custom complete actions
						medialibrary.uploadComplete(this.files);
						// clean up the file list
						this.removeAllFiles();
					}
					Flex.Uploader.prototype.handleSelect = function (event) {
						// set the upload destination path in the uploaders config
						this.config.params.uploadDest = workingPath;
						this.uploader.setConfig(this.config);
						
						// normal select handle
			            this.files = event.getData().files;
			            this.checkFileSize();
			            this.updateFiles();
			            this.getInnerElement('upload').show();
			            if (this.onFileSelect) {
			                this.onFileSelect();
			            }
			        }
			        
					//]]>
				</script>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
<!-- 
	============================================================
	*														   *
	*						IMAGES   						   *
	*														   *
	============================================================
-->

	<div id="media-library-image" style="display:none;">
		<div class="content-header skip-header">
			<table cellspacing="0">
			    <tr>
			        <td><h3 class="icon-head" id="head-adminhtml-media-library-image"></h3></td>
			        <td class="form-buttons">
			        	<?php echo $this->getDeleteMediaButtonHtml() ?>
			        	<?php echo $this->getCompressFileButtonHtml() ?>
			        	<?php echo $this->getDownloadFileButtonHtml() ?>
			        	<?php echo $this->getCopyFileButtonHtml() ?>
			        	<?php echo $this->getPasteFileButtonHtml() ?>
			        	<?php echo $this->getSaveMediaButtonHtml() ?>
			        	<?php echo $this->getUseMediaButtonHtml() ?>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div class="media-library-edit-area entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('medialibrary')->__('General Information'); ?></h4>
			</div>
			<div class="fieldset fieldset-wide">
				<table class="form-list">
					<tbody>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filename'); ?></label></td>
							<td class="value"><input type="text" name="image_filename" id="media-library-image-filename" class="media-library-edit-txt" value="" /> <input type="text" name="image_ext" id="media-library-image-extension" value="" size="4" disabled /></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Width'); ?></label></td>
							<td class="value"><input type="text" name="image_width" id="media-library-image-width" class="media-library-edit-nbr" value="" onchange="medialibrary.imageSetConstraintProportions('width','media-library-image-constrain-proportions');" /> <div id="media-library-image-constrain-proportions-icon" class="constrain-proportions-icon" style="display:<?php if($_conf['MP_ML_CONF_IMAGE_CONSTRAIN']) : ?>inline<?php else: ?>none<?php endif; ?>;"><!-- CONSTRAIN PROPORTIONS ICON --></div></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Height'); ?></label></td>
							<td class="value"><input type="text" name="image_filename" id="media-library-image-height" class="media-library-edit-nbr" value="" onchange="medialibrary.imageSetConstraintProportions('height','media-library-image-constrain-proportions');" /></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filesize'); ?></label></td>
							<td class="value"><span id="media-library-image-filesize"></span></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Constrain Proportions'); ?></label></td>
							<td class="value"><input type="checkbox" id="media-library-image-constrain-proportions" <?php if($_conf['MP_ML_CONF_IMAGE_CONSTRAIN']) : ?> checked<?php endif; ?> onchange="medialibrary.toggleConstrainProportions(this,'media-library-image-constrain-proportions-icon');" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="preview-area">
			<img src="" id="media-library-image-preview" style="max-width:<?php echo $_conf['MP_ML_CONF_IMAGE_PREV_WIDTH'] ?>px; max-height:<?php echo $_conf['MP_ML_CONF_IMAGE_PREV_HEIGHT'] ?>px;" <?php if(stristr($_SERVER['HTTP_USER_AGENT'],'MSIE 6.') && $_conf['MP_ML_CONF_IMAGE_PREV_WIDTH']>0) : ?>width="<?php echo $_conf['MP_ML_CONF_IMAGE_PREV_WIDTH'] ?>"<?php endif; ?> <?php if(stristr($_SERVER['HTTP_USER_AGENT'],'MSIE 6.') && $_conf['MP_ML_CONF_IMAGE_PREV_HEIGHT']>0) : ?>height="<?php echo $_conf['MP_ML_CONF_IMAGE_PREV_HEIGHT'] ?>"<?php endif; ?> />
		</div>
	</div>

	
	
	
	
	
	
<!-- 
	============================================================
	*														   *
	*						 VIDEO   						   *
	*														   *
	============================================================
-->

	<div id="media-library-video" style="display:none;">
		<div class="content-header skip-header">
			<table cellspacing="0">
			    <tr>
			        <td><h3 class="icon-head" id="head-adminhtml-media-library-video"></h3></td>
			        <td class="form-buttons">
			        	<?php echo $this->getDeleteMediaButtonHtml() ?>
			        	<?php echo $this->getCompressFileButtonHtml() ?>
			        	<?php echo $this->getDownloadFileButtonHtml() ?>
			        	<?php echo $this->getCopyFileButtonHtml() ?>
			        	<?php echo $this->getPasteFileButtonHtml() ?>
			        	<?php echo $this->getSaveMediaButtonHtml() ?>
			        	<?php echo $this->getUseMediaButtonHtml() ?>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div class="media-library-edit-area entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('medialibrary')->__('General Information'); ?></h4>
			</div>
			<div class="fieldset fieldset-wide">
				<table class="form-list">
					<tbody>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filename'); ?></label></td>
							<td class="value"><input type="text" name="video_filename" id="media-library-video-filename" class="media-library-edit-txt" value="" /> <input type="text" name="video_ext" id="media-library-video-extension" value="" size="4" disabled /></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filesize'); ?></label></td>
							<td class="value"><span id="media-library-video-filesize"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="preview-area" id="video-preview-area"></div>
	</div>
	
	
	
	
	
	
	
	
	
<!-- 
	============================================================
	*														   *
	*						AUDIO   						   *
	*														   *
	============================================================
-->

	<div id="media-library-audio" style="display:none;">
		<div class="content-header skip-header">
			<table cellspacing="0">
			    <tr>
			        <td><h3 class="icon-head" id="head-adminhtml-media-library-audio"></h3></td>
			        <td class="form-buttons">
			        	<?php echo $this->getDeleteMediaButtonHtml() ?>
			        	<?php echo $this->getCompressFileButtonHtml() ?>
			        	<?php echo $this->getDownloadFileButtonHtml() ?>
			        	<?php echo $this->getCopyFileButtonHtml() ?>
			        	<?php echo $this->getPasteFileButtonHtml() ?>
			        	<?php echo $this->getSaveMediaButtonHtml() ?>
			        	<?php echo $this->getUseMediaButtonHtml() ?>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div class="media-library-edit-area entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('medialibrary')->__('General Information'); ?></h4>
			</div>
			<div class="fieldset fieldset-wide">
				<table class="form-list">
					<tbody>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filename'); ?></label></td>
							<td class="value"><input type="text" name="audio_filename" id="media-library-audio-filename" class="media-library-edit-txt" value="" /> <input type="text" name="audio_ext" id="media-library-audio-extension" value="" size="4" disabled /></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filesize'); ?></label></td>
							<td class="value"><span id="media-library-audio-filesize"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="preview-area" id="audio-preview-area"></div>
	</div>
	
	
	
	
	
	
	
	
	
<!-- 
	============================================================
	*														   *
	*					 COMPRESSED   						   *
	*														   *
	============================================================
-->

	<div id="media-library-compressed" style="display:none;">
		<div class="content-header skip-header">
			<table cellspacing="0">
			    <tr>
			        <td><h3 class="icon-head" id="head-adminhtml-media-library-compressed"></h3></td>
			        <td class="form-buttons">
			        	<?php echo $this->getDeleteMediaButtonHtml() ?>
			        	<?php echo $this->getExtractFileButtonHtml() ?>
			        	<?php echo $this->getDownloadFileButtonHtml() ?>
			        	<?php echo $this->getCopyFileButtonHtml() ?>
			        	<?php echo $this->getPasteFileButtonHtml() ?>
			        	<?php echo $this->getSaveMediaButtonHtml() ?>
			        	<?php echo $this->getUseMediaButtonHtml() ?>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div class="media-library-edit-area entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('medialibrary')->__('General Information'); ?></h4>
			</div>
			<div class="fieldset fieldset-wide">
				<table class="form-list">
					<tbody>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filename'); ?></label></td>
							<td class="value"><input type="text" name="compressed_filename" id="media-library-compressed-filename" class="media-library-edit-txt" value="" /> <input type="text" name="compressed_ext" id="media-library-compressed-extension" value="" size="4" disabled /></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filesize'); ?></label></td>
							<td class="value"><span id="media-library-compressed-filesize"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
<!-- 
	============================================================
	*														   *
	*					 		ETC   						   *
	*														   *
	============================================================
-->

	<div id="media-library-etc" style="display:none;">
		<div class="content-header skip-header">
			<table cellspacing="0">
			    <tr>
			        <td><h3 class="icon-head" id="head-adminhtml-media-library-etc"></h3></td>
			        <td class="form-buttons">
			        	<?php echo $this->getDeleteMediaButtonHtml() ?>
			        	<?php echo $this->getCompressFileButtonHtml() ?>
			        	<?php echo $this->getDownloadFileButtonHtml() ?>
			        	<?php echo $this->getCopyFileButtonHtml() ?>
			        	<?php echo $this->getPasteFileButtonHtml() ?>
			        	<?php echo $this->getSaveMediaButtonHtml() ?>
			        	<?php echo $this->getUseMediaButtonHtml() ?>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div class="media-library-edit-area entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('medialibrary')->__('General Information'); ?></h4>
			</div>
			<div class="fieldset fieldset-wide">
				<table class="form-list">
					<tbody>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filename'); ?></label></td>
							<td class="value"><input type="text" name="etc_filename" id="media-library-etc-filename" class="media-library-edit-txt" value="" /> <input type="text" name="etc_ext" id="media-library-etc-extension" value="" size="4" disabled /></td>
						</tr>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Filesize'); ?></label></td>
							<td class="value"><span id="media-library-etc-filesize"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	
	
	
	
	
	
	
	
	
<!-- 
	============================================================
	*														   *
	*						TRASHCAN   						   *
	*														   *
	============================================================
-->

	<div id="media-library-trashcan" style="display:none;">
		<div class="content-header skip-header">
			<table cellspacing="0">
			    <tr>
			        <td><h3 class="icon-head" id="head-adminhtml-media-library-trashcan"><?php echo Mage::helper('medialibrary')->__('Trashcan'); ?></h3></td>
			        <td class="form-buttons">
			        	<?php echo $this->getEmptyTrashcanButtonHtml() ?>
			        </td>
			    </tr>
			</table>
		</div>
		
		<div class="media-library-edit-area entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('medialibrary')->__('General Information'); ?></h4>
			</div>
			<div class="fieldset fieldset-wide">
				<table class="form-list">
					<tbody>
						<tr>
							<td class="label"><label><?php echo Mage::helper('medialibrary')->__('Trashcan name'); ?></label></td>
							<td class="value"><input type="text" name="trashcan_filename" id="media-library-trashcan-filename" class="media-library-edit-txt" value="" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	

	
</div>

<script type="text/javascript">
//<![CDATA[

	// get browsers
	var userAgent = navigator.userAgent.toLowerCase();
	var browser = {
		version: (userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [0,'0'])[1],
		safari: /webkit/.test( userAgent ),
		opera: /opera/.test( userAgent ),
		msie: /msie/.test( userAgent ) && !/opera/.test( userAgent ),
		mozilla: /mozilla/.test( userAgent ) && !/(compatible|webkit)/.test( userAgent )
	};
	var platform = navigator.platform.toLowerCase();
	var system = {
		windows: /win/.test(platform),
		mac:  /mac/.test(platform),
		linux:  /linux/.test(platform)
	};
	
	/**
	 * Embed media into a div or any other tag with an id
	 * @param	string url to the media (absolute url is preferred, and required if it's a flv file)
	 * @param	string id of the target tag where the media should be embedded
	 * @param	object options - these can be used to alter the default options set in the "o" variable
	 */
	this.embedMedia = function(url,targetid,options) {
		// default options
		o = {
			// width of object
			width: <?php echo $_conf['MP_ML_CONF_VIDEO_PREV_WIDTH']; ?>,
			// height of object
			height: <?php echo $_conf['MP_ML_CONF_VIDEO_PREV_HEIGHT']; ?>,
			// automatically start playback?
			autoplay: <?php if($_conf['MP_ML_CONF_VIDEO_AUTO_PLAY']): ?>true<?php else: ?>false<?php endif; ?>,
			// background color
			bgcolor: '#ffffff',
			// force <embed> tags? (does not apply to ie)
			embed: false,
			// param elements on <object> or attributes in <embed>
			params: {
			},
			// url to flv player
			flashplayer: '<?php echo $this->getJsUrl('mageparts/medialibrary/flvplayer.swf'); ?>',
			// params on embedded flash files
			flashparams: {
				wmode:	'transparent'
			},
			// flashvars to pass to the embedded flash
			flashvars: {
			},
			// required flash version
			flashversion: '9.0.0',
			// flash express installer url
			expressinstall: '<?php echo $this->getJsUrl('mageparts/medialibrary/expressinstall.swf'); ?>'
		}
		
		// find out if the firefox wmv plugin is installed
		var ffwmv = false;
		var pdfplug = false;
		var plugs = navigator.plugins;
		for (i = 0; i < plugs.length; i++) {
			var plug = plugs[i];
			plug = plug['filename'];
			plug = plug.toLowerCase();
			if (plug == 'np-mswmp.dll') {
				ffwmv = true;
			}
			if (plug.indexOf('acrobat ') != -1 || plug.indexOf('pdfplugin.') != -1) {
				pdfplug = true;
			}
		}
		
		// merge options
		options = options || {};
		for(var key in options) {
			o[key] = options[key];
		}
			
		// get extension
		temp = url.toLowerCase().split('.');
		ext = temp[temp.length-1];
		
		// get media embed html
		html = "";
		if(url.indexOf('youtube.com/') != -1) {
			// youtube url
			// fix url if it's a copy-paste from the browser url
			if(url.indexOf('watch?v=') != -1) {
				url = url.replace('watch?v=','/v/');
			}
			swfobject.embedSWF(url, targetid, o.width, o.height, o.flashversion, o.expressinstall, o.flashvars, o.flashparams);
		}
		else if(has('flv,swf',ext)) {
			// flash
			player = o.flashplayer;
			if(has('flv',ext)) {
				o.flashvars.quality = 'best';
				o.flashvars.path = url;
				o.flashvars.staticwidth = o.width;
				o.flashvars.maxwidth = o.width;
				/*o.flashvars.background = 'none';
				o.flashvars.maxwidth = o.width;
				o.flashvars.maxheight = 'none';
				o.flashvars.staticwidth = o.width;
				o.flashvars.staticheight = 'none';
				o.flashvars.topmargin = 'none';
				o.flashvars.rightmargin = 'none';
				o.flashvars.bottommargin = 'none';
				o.flashvars.leftmargin = 'none';
				o.flashvars.xscale = '100';
				o.flashvars.yscale = '100';
				o.flashvars.xpos = '0';
				o.flashvars.ypos = '0';
				o.flashvars.xadjust = '0';
				o.flashvars.yadjust = '0';
				o.flashvars.align = 'none';
				o.flashvars.valign = 'none';*/
				o.flashparams.bgcolor = o.bgcolor;
			}
			else {
				o.flashplayer = url;
			}
			swfobject.embedSWF(o.flashplayer, targetid, o.width, o.height, o.flashversion, o.expressinstall, o.flashvars, o.flashparams);
		}
		else if(has('aif,aiff,aac,au,bmp,gsm,mov,mid,midi,mpg,mpeg,mp3,mp4,m4a,psd,qt,qtif,qif,qti,snd,tif,tiff,wav,3g2,3gp',ext)) {
			// quicktime
			if(has('aif,aiff,aac,au,gsm,mid,midi,mp3,m4a,snd,wav',ext)) {
				o.height = system.windows ? 44 : 16;
			}
			html = generateEmbedHTML('quicktime',url,o,{
				attr: {
					mimetype:	'video/quicktime',
					pluginspage:	'http://www.apple.com/quicktime/download/'
				},
				params: {
					autoplay:	(o.autoplay ? "true" : "false"),
					controller:	'true',
					scale:		'aspect'
				},
				ie: {
					classid:		'clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B',
					codebase:	'http://www.apple.com/qtactivex/qtplugin.cab'
				}
			},'Quicktime Player');
		}
		else if(has('ra,ram,rm,rpm,rv,smi,smil',ext)) {
			// real media
			html = generateEmbedHTML('realmedia',url,o,{
				attr: {
					mimetype:	'audio/x-pn-realaudio-plugin',
					pluginspage:	'http://www.real.com/player/'
				},
				params: {
					autostart:	(o.autoplay ? "true" : "false"),
					controller:	'true',
					scale:		'aspect'
				},
				ie: {
					classid:		'clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA'
				}
			},'Real Player');
		}
		else if(has('asx,asf,avi,wma,wmv',ext)) {
			// windows media
			if(has('wma',ext)) {
				o.height = system.windows ? 44 : 16;
			}
			html = generateEmbedHTML('windowsmedia',url,o,{
				attr: {
					mimetype:	(browser.mozilla && ffwmv ? 'application/x-ms-wmp' : 'application/x-mplayer2'),
					pluginspage:	'http://www.microsoft.com/Windows/MediaPlayer/'
				},
				params: {
					autostart:	(o.autoplay ? '1' : '0'),
					controller:	'1',
					stretchToFit: 	'1'
				},
				ie: {
					classid:		'clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6',
					type:		'application/x-oleobject'
				}
			},'Windows Media Player');
		}
		else if(has('pdf',ext)) {
			// pdf
			if(pdfplug) {
				html = '<'+'embed '+
					'src="'+ url +'" '+
					'width="'+ o.width +'" '+
					'width="'+ o.height +'" '+
					'type="application/pdf" '+
					'>'+'<'+'/embed'+'>';
			}
			else {
				temp = url;
				temp = '/'+temp;
				temp = temp.split('/');
				temp = temp[temp.length-1];
				html = '<'+'a '+
					'href="'+ url +'" '+
					'target="_blank"'+
					'>Click to view: '+ temp +'<'+'/a'+'>'
			}
			/*var plugpage = 'http://get.adobe.com/reader/';
			if(browser.mozilla) {
				plugpage = 'https://addons.mozilla.org/firefox/addon/7518';
			}
			*/
		}
		else if(has('html',ext)) {
			// iframe content
			html = '<'+'iframe '+
					'class="mediaembed_iframe" '+
					'style="background-color:'+o.bgcolor+';" '+
					'width="' + o.width + '" '+
					'height="' + o.height + '" '+
					'src="'+ url +'" '+
					'>'+'<'+'/iframe'+'>';
		}
		
		// debug options
		// html += '<textarea style="width: 400px; height: 200px;">'+ html +'</textarea>';
		
		// embed HTML if any HTML is compiled
		if(html != "") {
			// embed using prototype
			$(targetid).insert(html);
		}
		
		
	}
	
	/**
	 * Find out if a string is present in a comma separated string (a flattened array)
	 * @param	string: comma separated values, like 'mp3,flv,wav'
	 * @param	string: value to find, like 'wav'
	 * @return	boolean true if found, false if not
	 */
	function has(strs,str) {
		strs += ',';
		strs = strs.split(',');
		for(i=0;i<strs.length;i++) {
			if(strs[i] != "" && strs[i] == str) {
				return true;
			}
		}
		return false;
	}
	
	/**
	 * Generate object/embed HTML tag
	 * @param	string player: 'quicktime' / 'realmedia' / 'windowsmedia' / 'pdf'
	 * @param	string url to the media (absolute url is preferred)
	 * @param	object player options
	 * @param	object html tag options
	 * @param	string title of the player, like 'Windows Media Player'
	 * @return	string HTML
	 */
	function generateEmbedHTML(player,url,o,opt,title) {
		var html = '';
		if(has('quicktime,realmedia,windowsmedia',player)) {
			// gather attributes
			attrs = 'width="' + o.width + '" '+
				'height="' + o.height + '" ';
			for (var key in opt.attr) {
				attrs += key + '="'+opt.attr[key]+'" ';
			}
			if(browser.msie) {
				for (var key in opt.ie) {
					val = opt.ie[key];
					if (key == 'codebase' && window.location.protocol == 'https:') {
						val = val.replace('http','https');
					}
					attrs += key + '="'+val+'" ';
				}
			}
			// gather parameters
			params = '';
			for (var key in o.params) {
				if(key != 'url' && key != 'src') {
					params += '<'+'param name="'+ key +'" value="' + o.params[key] + '"'+'>';
				}
			}		
			for (var key in opt.params) {
				if(key != 'url' && key != 'src') {
					params += '<'+'param name="'+ key +'" value="' + opt.params[key] + '"'+'>';
				}
			}	
			// create tag
			if (browser.msie) {
				// ie
				// add url/src param
				params += '<'+'param name="' + (has('windowsmedia',player)?'url':'src') +'" value="' + url + '"'+'>';
				// create html
				html = '<'+
						'object '+
						attrs+
						'>'+
						params+
						'<'+'/object'+'>';
			}
			else if(o.embed) {
				// all other browsers, non-standards compliant way
				// convert parameters to attributes
				for (var key in o.params) {
					if(key != 'url' && key != 'src') {
						attrs += key +'="'+ o.params[key] + '" ';
					}
				}		
				for (var key in opt.params) {
					if(key != 'url' && key != 'src') {
						attrs += key +'="'+ opt.params[key] + '" ';
					}
				}		
				// create html
				html = '<'+'embed '+
						attrs+
						'style="display:block" '+
						'src="'+ url +'" '+
						'>'+'<'+'/embed'+'>';
			}
			else {
				// all other browsers, standards compliant way
				html = '<'+'object '+
						'type="' + opt.attr.mimetype +'" '+
						'width="' + o.width + '" '+
						'height="' + o.height +'" '+
						'data="'+ url +'" '+
						attrs+
						'>'+
						params+
						'<div><p><strong>'+ title +'</strong> '+
						'is required to view this media. <a href="'+ opt.attr.pluginspage +'">Download here.</a></p></div>'+
						'<'+'/object'+'>';
			}
		}
		return html;
	}

//]]>
</script>