<?php
/**
 * MageParts
 * 
 * NOTICE OF LICENSE
 * 
 * This code is copyrighted by MageParts and may not be reproduced
 * and/or redistributed without a written permission by the copyright 
 * owners. If you wish to modify and/or redistribute this file please
 * contact us at info@mageparts.com for confirmation before doing
 * so. Please note that you are free to modify this file for personal
 * use only.
 *
 * If you wish to make modifications to this file we advice you to use
 * the "local" file scope in order to aviod conflicts with future updates. 
 * For information regarding modifications see http://www.magentocommerce.com.
 *  
 * DISCLAIMER
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE 
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF 
 * USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY 
 * OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
 * OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 * 
 * @category   MageParts
 * @package    MageParts_MediaLibrary
 * @copyright  Copyright (c) 2009 MageParts (http://www.mageparts.com/)
 * @author 	   MageParts Crew
 */
?>

<?php $_helper = Mage::helper('medialibrary'); ?>

<?php // Style fixes (TinyMCE's dialouge css screws up the initial css) ?>
<?php if($this->isStandalone()): ?>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('mageparts/medialibrary/standalone.css') ?>" />
<?php endif; ?>

<!-- LEFT SIDE COOL -->
<div class="media-library-side-col">
    <div class="content-header">
    	<a href="http://www.mageparts.com/" target="_blank" class="head-medialibrary-link-top">    
    		<div class="icon-head head-media-library"><!-- HEDER ICON --></div>
        	<span class="head-medialibrary-link">Professional Magento Extensions</span>
        </a>
        
        <?php // Only display the create directory button if there is at least one root directory present ?>
        <?php if(Mage::getSingleton('medialibrary/files')->getRootDirectories()): ?>
        <?php echo $this->getCreateDirectoryButtonHtml() ?>
        <?php endif; ?>
    </div>
    
    <!-- Multi action selection -->
	<div id="media-library-multi-action-container">
		<label for="media-library-mmulti-action"><?php echo $_helper->__("Execute on all selected files") ?></label>
    	<select id="media-library-multi-action">
			<option>Perform multi action</option>
			<optgroup>
				<option value="delete">Delete</option>
				<option value="compress-zip">Compress (zip)</option>
			</optgroup>
		</select>
		<br />
		<?php echo $this->getExecuteMultiActionButtonHtml() ?>
    </div>
    
	<?php if(!$this->isStandalone()): ?>
		
		<div id="media-library-filter-container">
			<label for="media-library-filter"><?php echo $_helper->__("File type filter") ?></label>
	    	<select id="media-library-filter-list" onchange="medialibrary.setFilter(this.options[this.selectedIndex].value);">
    			<option value="*" class="first">*.* (<?php echo $_helper->__("All Files"); ?>)</option>
        		<?php
        		
        			$html = '';
        		
        			$selectedFilter = explode(',',$this->getRequest()->getParam('types'));

        			foreach (Mage::getSingleton('medialibrary/files')->getAllFiltersAsArray(true) as $key=>$types) {
        				$s = sizeof($selectedFilter)<2 && $selectedFilter[0] === $key ? ' selected' : '';
        				$html.= $key=='etc' ? '<option value="'.$key.'" '.$s.'>'.$_helper->__('Documents etc.').'</option>' : '<option value="'.$key.'" '.$s.'>'.$_helper->__(ucfirst($key)).'</option>';	
        			}
        			
        			echo $html;
        		
        		?>
	    	</select>
	    </div>
    <?php endif; ?>	
    <!-- TREE -->
	<div class="tree-holder">
	    <div id="tree-div" style="width:100%; overflow:auto;"></div>
	</div>
</div>

<!-- CONTEXT MENU -->
<div id="tree-context-menu">
	<ul>
		<!-- COPY OPTION -->
		<li onclick="medialibrary.copy();" id="tree-context-menu-copy"><?php echo $_helper->__("Copy") ?></li>
		
		<!-- PASTE OPTION -->
		<li class="separator" id="tree-context-menu-paste-separator"></li>
		<li onclick="medialibrary.paste();" id="tree-context-menu-paste"><?php echo $_helper->__("Paste") ?></li>
		
		<!-- DOWNLOAD FILE OPTION (ONLY AVAILABLE FOR FILES ATM) -->
		<li class="separator" id="tree-context-menu-download-separator"></li>
		<li onclick="medialibrary.downloadFile();" id="tree-context-menu-download"><?php echo $_helper->__("Download") ?></li>
		
		<!-- CREATE DIR OPTION -->
		<li class="separator" id="tree-context-menu-create-dir-separator"></li>
		<li onclick="medialibrary.createDir();" id="tree-context-menu-create-dir"><?php echo $_helper->__("Create New Directory") ?></li>
		
		<!-- COMPRESS OPTION -->
		<li class="separator" id="tree-context-menu-compress-separator"></li>
		<li onclick="medialibrary.compress(false,'zip',true);" id="tree-context-menu-compress"><?php echo $_helper->__("Compress") ?></li>
		
		<!-- EXTRACT OPTION -->
		<li class="separator" id="tree-context-menu-extract-separator"></li>
		<li onclick="medialibrary.extract();" id="tree-context-menu-extract"><?php echo $_helper->__("Extract") ?></li>
		
		<!-- EXAPND OPTION -->
		<li class="separator" id="tree-context-menu-expand-separator"></li>
		<li onclick="medialibrary.expandAll();" id="tree-context-menu-expand"><?php echo $_helper->__("Expand") ?></li>
		
		<!-- COLLAPSE OPTION -->
		<li class="separator" id="tree-context-menu-collapse-separator"></li>
		<li onclick="medialibrary.collapseAll();" id="tree-context-menu-collapse"><?php echo $_helper->__("Collapse") ?></li>
		
		<!-- DELETE OPTION -->
		<li class="separator" id="tree-context-menu-delete-separator"></li>
		<?php if($this->isStandalone()): ?>
		<!-- USE OPTION -->
		<li onclick="FileBrowserDialogue.use();" id="tree-context-menu-use"><?php echo $_helper->__("Use") ?></li>
		<li class="separator" id="tree-context-menu-use-separator"></li>
		<?php endif; ?>
		<li onclick="medialibrary.del();" id="tree-context-menu-delete"><?php echo $_helper->__("Delete") ?></li>
		
		<!-- EMPTY THE TRASHCAN OPTION -->
		<li class="separator" id="tree-context-menu-trashcan-separator"></li>
		<li onclick="medialibrary.emptyTrashcan();" id="tree-context-menu-trashcan"><?php echo $_helper->__("Empty the trashcan") ?></li>
	</ul>
</div>

<!-- CONTEXT MENU SHADOW -->
<div id="tree-context-menu-shadow"></div>

<?php // If this was opened through a window we will be needing this ?>
<?php if($this->isStandalone()): ?>
	<?php if(file_exists(Mage::getBaseDir('base').'/js/mageparts/tiny_mce/tiny_mce_popup.js')) : ?>
		<script type="text/javascript" src="<?php echo $this->getJsUrl('mageparts/tiny_mce/tiny_mce_popup.js') ?>"></script>
	<?php elseif(file_exists(Mage::getBaseDir('base').'/js/fontis/tiny_mce/tiny_mce_popup.js')) : ?>
		<script type="text/javascript" src="<?php echo $this->getJsUrl('fontis/tiny_mce/tiny_mce_popup.js') ?>"></script>
	<?php elseif(file_exists(Mage::getBaseDir('base').'/js/tiny_mce/tiny_mce_popup.js')) : ?>
		<script type="text/javascript" src="<?php echo $this->getJsUrl('tiny_mce/tiny_mce_popup.js') ?>"></script>
	<?php endif; ?>
<script type="text/javascript">
//<![CDATA[

	var FileBrowserDialogue = {
	    
		/**
	     * Initializer
	     */
		init : function () 
		{
			var autoSelectFile = <?php echo Mage::getStoreConfig('medialibrary/standalone/auto_select_file',$_helper->getStoreId());  ?>;
		
			// only select the current file if the "auto select file" option is set to true in the config
			if(autoSelectFile) {
				// get parent window object
				var win = tinyMCEPopup.getWindowArg("window");
				
				// get the url of the current file
				var url = win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value;

				if(url.replace(/ /g,'')!='') {
					// get the tree's root node
					var rootNode = tree.getRootNode();
					
					var breakIt = false;
					
					// loop over all nodes in the tree to find the one with a url which matches the current file
					rootNode.cascade(function(childNode){
						if(!breakIt) {
							if(childNode.hasChildNodes()) {
								childNode.expand();
								childNode.collapse();
							}
						}
						else {
							return false;
						}
						
						if(childNode.attributes.url === url) {
							breakIt = true;
							childNode.bubble(function(parentNode){
								parentNode.expand();
							});
							childNode.select();
							medialibrary.setEditArea(childNode);
						}
					});
				}
			}
	    },
	    
	    
	    /**
	     * Make a call to the TinyMCE window and insert the selected image
	     */
	    use : function () 
	    {
	    	// Get currently selected node
	    	var node = typeof(currentNode) != "undefined" ? currentNode : null;

	    	// Make sure that a node is selected
			if(!node) {
				alert('<?php echo $_helper->__("Error: No node has been selected for removal, please select a node from the file tree and try again") ?>');
				return false;
			}
	    	
			// Node url
	        var url = node.attributes.url;
	        var win = tinyMCEPopup.getWindowArg("window");
	
	        // insert information now
	        win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = url;
	
	        // are we an image browser
	        if (typeof(win.ImageDialog) != "undefined")
	        {
	            // we are, so update image dimensions and preview if necessary
	            if (win.ImageDialog.getImageData) win.ImageDialog.getImageData();
	            if (win.ImageDialog.showPreviewImage) win.ImageDialog.showPreviewImage(url);
	        }
	
	        // close popup window
	        tinyMCEPopup.close();
	    }
	}
	
	// TinyMCE poppup initializer
	tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);
	
//]]>
</script>
<?php endif; ?>
<script type="text/javascript">
//<![CDATA[


	/**
	 * File type filter array, used when changing icons and such
	 *
	 * @var array
	 */
	var fileTypeFilters = new Array();
	<?php 
		$fileTypeFilters = "";
		foreach (Mage::getSingleton('medialibrary/files')->getAllFiltersAsArray(true) as $type=>$exts) {
			foreach ($exts as $ext) {
				$newType = $type=='etc' ? Mage::getSingleton('medialibrary/files')->getIconClassByFileType("etc.{$ext}") : $type;
				$fileTypeFilters.= "fileTypeFilters['{$ext}'] = '{$newType}';\n";	
			}
		}
		echo $fileTypeFilters;
	?>
	

	/**
	 * Node currently in use
	 *
 	 * @var object
	 */
	var currentNode = null;
	
	
	/**
	 * Copy node
	 *
	 * When you select a node for copying, we save it here so that we can remember it
	 * when it's time to paste the file.
	 *
	 * @var object
	 */
	var copyNode = null;
	
	
	/**
	 * Custom node id
	 *
 	 * @var int
	 */
	var customNodeId = 0;
	
	
	/**
	 * Uploaded objects array
	 *
 	 * @var array
	 */
	var uploaded = new Array();
	
	
	/**
	 * File tree
	 *
	 * @var object
	 */
	var tree;
	
	
	/**
	 * The id of the trashcan node
	 */
	var trashcanNodeId = 'tree_node_trashcan';
	
	
	/**
	 * Working path, holds the path to the current working directory. It's set whenever
	 * a directory node is selected from the file tree.
	 * 
	 * @var string
	 */
	var workingPath = '';
	
	
	/**
	 * List of selected nodes (nodes are selected by checkboxes)
	 */
	var selectedNodes = new Array();
	
	
	/**
	 * Reference to floating header title
	 */
	var floatingHeaderTitle = null;
	
	
	/**
	 * Reference to floating header buttons
	 */
	var floatingHeaderButtons = null;
	

	
	/**
	 * Fix ext compatibility with prototype 1.6
	 */
	Ext.lib.Event.getTarget = function(e) {
	    var ee = e.browserEvent || e;
	    return ee.target ? Event.element(ee) : null;
	};
	
	Ext.tree.TreePanel.Enhanced = function(el, config)
	{
	    Ext.tree.TreePanel.Enhanced.superclass.constructor.call(this, el, config);
	};
	
	Ext.onReady(function(){
	    // shorthand
	  	var Tree = Ext.tree;
	    
	  	// file tree
	    tree = new Tree.TreePanel('tree-div', {
			loader: new Ext.tree.CustomUITreeLoader({
				baseAttr: {
					uiProvider: Ext.tree.CheckboxNodeUI
				}
			}),
	        enableDD		: true,
	        containerScroll	: true,
	        animate			: false,
	        autoScroll		: true,
	        rootVisible 	: false,
	        rootUIProvider: Ext.tree.CheckboxNodeUI,
	        selModel:new Ext.tree.CheckNodeMultiSelectionModel()
	    });
		
	    // add onclick listener
	    tree.addListener('click',medialibrary.setEditArea);
	    // add before node drop listener
	    tree.addListener('beforenodedrop',medialibrary.beforeNodeDrop);
	    
	    // set the root node
	   var root = new Tree.AsyncTreeNode({
	        draggable:false,
	        id: 'tree_root_node',
	        children: <?php echo $this->getFileTreeJson() ?>,
	        uiProvider: Ext.tree.CheckboxNodeUI
	    });

	   	// Set root node
	    tree.setRootNode(root);
	    
	    // render the tree
	    tree.render();
	    
	    // add context menu action
	    tree.on('contextmenu', medialibrary.treeContextMenu, this);
	    
	    // add node check action
	    tree.on('check', medialibrary.checkNode, this);
	    
	    // Expand tree root
	    root.expand();
	});
	
	
	
	
	
	
	
	
	
	
	/**
	 * Media Library object
	 */
	var medialibrary = {

			/**
			 * Everytime the user clicks on a file, or folder, we will set the
			 * appropriate editing area. There are special edit areas for each
			 * of the major filetypes, such as images or audio.
			 *
			 * @param object $node
			 */
			setEditArea : function( node )
			{
				// if node is null, set currentNode
				if(typeof(node)=="undefined" || node == null) {
					node = currentNode;
				}

				// possible event
				var e = typeof(arguments[1]) != "undefined" ? arguments[1] : null;

				// hide all editing areas
				if(node.isLeaf()) {
					$('media-library-folder').hide();
					$('media-library-trashcan').hide();
				}

				if(!node.isLeaf() || (currentNode != null && currentNode.attributes.type != node.attributes.type)) {
					$('media-library-image').hide();
					$('media-library-video').hide();
					$('media-library-audio').hide();
					$('media-library-compressed').hide();
					$('media-library-etc').hide();
				}
				
				// set current node
				currentNode = node;
				
				// set working path
				workingPath = node.isLeaf() ? node.attributes.path : (node.attributes.path + '/' + node.attributes.filename);
				
				// remove double slashes from working path
				workingPath = workingPath.replace(/\/\//g,'/');

				// get type (folder or file) and editing area
				var areaType = node.attributes.type;
				var area = node.attributes.id!=trashcanNodeId ? $('media-library-' + areaType) : $('media-library-trashcan');

				if(!area && node.isLeaf()) {
					areaType = 'etc';
					area = $('media-library-etc');
				}

				// set some form values
				if(node.isLeaf()) {
					// Set current file extension
					if($('media-library-' + areaType + '-extension')) {
						$('media-library-' + areaType + '-extension').value = node['text'].substr(node['text'].lastIndexOf('.')+1);
						// disable the editing options for this settings if the file is isn't editable
						// $('media-library-' + areaType + '-extension').disabled = node.attributes.editable ? false : true;
					}
					
					// set current filename
					if($('media-library-' + areaType + '-filename')) {
						$('media-library-' + areaType + '-filename').value = node['text'].substr(0,node['text'].lastIndexOf('.'));
						// disable the editing options for this settings if the file isn't editable
						$('media-library-' + areaType + '-filename').disabled = node.attributes.editable ? false : true;
					}
					
					// set filesize
					if($('media-library-' + areaType + '-filesize')) {
						$('media-library-' + areaType + '-filesize').innerHTML = node.attributes.size;
					}
					
					// specific image rules
					if(areaType == 'image') {
						// Set image width
						if(typeof(node.attributes.width) != "undefined" && $('media-library-' + areaType + '-width')) {
							$('media-library-' + areaType + '-width').value = node.attributes.width;
						}
						else {
							$('media-library-' + areaType + '-width').value = 'undefined';
						}

						// Set image height
						if(typeof(node.attributes.height) != "undefined" && $('media-library-' + areaType + '-height')) {
							$('media-library-' + areaType + '-height').value = node.attributes.height;
						}
						else {
							$('media-library-' + areaType + '-height').value = 'undefined';
						}
						
						// set preview area
						if($('media-library-' + areaType + '-preview')) {
							$('media-library-' + areaType + '-preview').src = node.attributes.url + '#' + Math.floor(Math.random()*9999);
						}
						
						// disable these settings incase the file isn't editable
						$('media-library-' + areaType + '-height').disabled = node.attributes.editable ? false : true;
						$('media-library-' + areaType + '-width').disabled = node.attributes.editable ? false : true;
					}
					
					// specific video rules
					if(areaType=='video') {
						// clear the preview area
						$('video-preview-area').innerHTML = '';
						// add new preview media
						embedMedia(node.attributes.url,'video-preview-area');
					}
					
					// specific video rules
					if(areaType=='audio') {
						// clear the preview area
						$('audio-preview-area').innerHTML = '';
						// add new preview media
						embedMedia(node.attributes.url,'audio-preview-area');
						
					}

					// set head title above the edit area
					if($('head-adminhtml-media-library-'+areaType)) {
						var headTitle = node['text'].substr(0,node['text'].lastIndexOf('.'));
						
						if (navigator.appVersion.match('MSIE 6.')) {
							if(headTitle.length > 10) {
								headTitle = headTitle.substr(0,10) + '...';
							}
						}
						else if(headTitle.length > 17) {
							headTitle = headTitle.substr(0,17) + '...';
						}
						
						$('head-adminhtml-media-library-'+areaType).innerHTML = headTitle;
					}
					
					// make sure that the uploader is hidden
					$('media-library-folder-uploader').hide();
				}
				else {
					// only show the uploader if the folder is editable or is a root directory
					if(node.attributes.editable || (node.parentNode.isRoot && node.attributes.id!=trashcanNodeId)) {
						$('media-library-folder-uploader').show();
					}
					else {
						$('media-library-folder-uploader').hide();
					}
					
					if(node.attributes.id==trashcanNodeId) {
						// hide folder area
						$('media-library-folder').hide();
						
						// make sure the node is disabled
						$('media-library-trashcan-filename').disabled = true;
						
						// set the text of the trashcan name
						$('media-library-trashcan-filename').value = node['text'];
					}
					else {
						// hide trashcan area
						$('media-library-trashcan').hide();
						
						// Set current folder filename
						if($('media-library-folder-filename')) {
							$('media-library-folder-filename').value = node['text'];
							// disable this setting incase the folder isn't editable
							$('media-library-folder-filename').disabled = node.attributes.editable ? false : true;
						}
						
						// set head title above the edit area
						if($('head-adminhtml-media-library-folder')) {
							$('head-adminhtml-media-library-folder').innerHTML = currentNode.attributes.text;
						}
					}
				}
				
				// reset action buttons
				var actionsButtons = area.getElementsByClassName('action-button');
				
				for(var i=0; i<actionsButtons.length; i++) {
					if(actionsButtons[i].hasClassName('disabled')) {
						actionsButtons[i].removeClassName('disabled');
						actionsButtons[i].disabled = false;
					}
				}
				
				// hide some actions if the selected node is in the trash
				if(medialibrary.isInTrashcan(node)) {
					for(var i=0; i<actionsButtons.length; i++) {
						if(!actionsButtons[i].hasClassName('disabled') && !actionsButtons[i].hasClassName('download-button') && !actionsButtons[i].hasClassName('empty-trashcan-button')) {
							actionsButtons[i].addClassName('disabled');
							actionsButtons[i].disabled = true;
						}
					}
				}
				
				// show area
				if(area.show()) {
					if (!navigator.appVersion.match('MSIE 6.')) {
						// reset all content headers
						var headerObjs = $('media-library-main-col').getElementsByClassName('content-header');
						
						for(var i=0; i<headerObjs.length; i++) {
							if(!headerObjs[i].hasClassName('skip-header')) {
								headerObjs[i].addClassName('skip-header');
							}
						}
						
						// get current content header
						var headerObj = area.getElementsByClassName('content-header');
						
						
						// set current content header
						if(headerObj[0]) {
							headerObj[0].removeClassName('skip-header');
						}
						
						// update the floating header 
						updateTopButtonToolbarToggle();
					}
				}
				
			},
			
			
			/**
			 * Event to occur before a node is dropped
			 *
			 * @param object $node
			 * @param object $e
			 */
			beforeNodeDrop : function( node, e )
			{
				// container for ajax parameters
				var p = '';
		
				// save the old parent node incase we need to change back, if something fucks up
				var _oldParent 	= node['dropNode'].parentNode;
				
				// set current node
				currentNode = node['dropNode'];
				
				// if the node was dropped on the trashcan perform the delete action
				if(medialibrary.isInTrashcan(node['target'])) {
					medialibrary.del();
					return true;
				}
				
				var srcPath 	= node['dropNode'].attributes.path;												// file source path
				var destPath 	= node['target'].attributes.path + '/' + node['target'].attributes.filename;	// file destination path
				var filename 	= node['dropNode'].attributes.filename;											// filename (surprise)
				var point 	 	= node['point'];																// point, this is a ext js attribute which describes if the file is being placed above, below, or on another object in the file tree.
				var replace		= false;
				
				// src path / src filename = complete source path!
				var srcFile = srcPath + '/' + filename;
				
				// if the node is dropped above, or below, another node (it's not dropped on another node) the target path will get screwed up, so we will have to correct it
				if(point == 'above' || point == 'below') {
					// skip the correction if this is a root node
					if(!node['target'].parentNode.isRoot) {
						destPath = node['target'].attributes.path;
					}
					else {
						// failure
						return false;
					}
				}

				// If the target and the current file path are the same, don't do anything
				if(destPath === srcPath) {
					return true;
				}
				
				// remove double slashes from destination path
				destPath = destPath.replace(/\/\//g,'/');
				
				// add required ajax parameters
				p = 'destPath=' + encodeURIComponent(destPath);
				p+= '&srcPath=' + encodeURIComponent(srcPath);
				p+= '&filename=' + encodeURIComponent(filename);
				
				var success = function(o) {
					try {
			        	if(o.responseText) {
			        		if(o.responseText==='EXISTS'){
			        			// a file with the same name already exists in the requested destination path
				            	if(confirm('<?php echo $_helper->__("The file already exists, would you like to replace it?") ?>')) {
				            		// add the replace parameter to the ajax parameter set, and redo the ajax call
									p+= '&replace=true';
									replace = true;
				            		ajaxCall();
				            	}
				            	else {
				            		// move the node back to it's previous position
				            		_oldParent.appendChild(node['dropNode']);
				            		return false;
				            	}
				            }
				            else if(o.responseText==='EXISTS-DIR'){
				            	// a folder with the same name already exists in the requested destination path
				            	if(confirm('<?php echo $_helper->__('A directory with the same name already exists, would you like to replace it?\n\nPlease note that replacing the directory will remove all files inside of the directory as well') ?>')) {
									// add the replace parameter to the ajax parameter set, and redo the ajax call
				            		p+= '&replace=true';
				            		replace = true;
				            		ajaxCall();
				            	}
				            	else {
				            		// move the node back to it's previous position
				            		_oldParent.appendChild(node['dropNode']);
				            		return false;
				            	}
				            }
				            else {
				            	// php has succeeded
				            	if(o.responseText === 'SUCCESS') {
				            		// if the node replaced an older one we will have to remove the older node from the file tree
				            		if(replace) {				            		
				            			node['target'].childNodes.each(function(childNode){
				            				if((childNode['text'] == currentNode['text']) && (childNode['id'] != currentNode['id'])) {
				            					childNode.parentNode.removeChild(childNode);
				            				}
				            			});
				            		}

				            		// if a folder was moved, correct its url / path, and the url / path of all its child nodes as well
				            		if(node['dropNode'].hasChildNodes()) {
					            		// re-render the childs of the moved node, to synchronize the tree
					            		if(!node['dropNode'].childrenRendered) {
						            		node['dropNode'].expand();
						            		node['dropNode'].expandChildNodes(true);
						            		node['dropNode'].collapseChildNodes(true);
									 		node['dropNode'].collapse();
					            		}	
				            		
			            				node['dropNode'].cascade(function(childNode){
			            					childNode.attributes.url = childNode.attributes.url.replace(srcPath,destPath);		// correct the nodes url
				            				childNode.attributes.path = childNode.attributes.path.replace(srcPath,destPath);	// correct the nodes path
				            				
					            			// if the node was moved from the trashcan
					            			if(medialibrary.isInTrashcan(_oldParent)) {
					            				childNode.attributes.url = childNode.attributes.url.replace(filename,filename.substr(filename.indexOf('_')+1));		// make some further corrections of the nodes url
					            				childNode.attributes.path = childNode.attributes.path.replace(filename,filename.substr(filename.indexOf('_')+1));	// make some further corrections of the nodes path
					            				childNode.attributes.inTrash = false;																				// the node is no longer in the trashcan
					            				childNode.attributes.editable = true;																				// the node can once again be modified
					            				childNode.ui.elNode.removeClassName("disabled");																	// remove the disabled class from this node element
					            			}
			            				});
			            				
			            				// correct the filename / classname of the directory node if was recovered from the trashcan
			            				if(medialibrary.isInTrashcan(_oldParent)) {
			            					node['dropNode'].attributes.filename = filename.substr(filename.indexOf('_')+1);
			            					node['dropNode'].ui.elNode.removeClassName("disabled");
			            				}
				            		}
				            		else {
				            			// if the node came from the trashcan we will have to correct the filename in order for the url's to be correct
					            		if(medialibrary.isInTrashcan(_oldParent)) {
					            			node['dropNode'].attributes.inTrash = false;
					            			node['dropNode'].attributes.editable = true;
					            			node['dropNode'].attributes.filename = filename.substr(filename.indexOf('_')+1);
					            			node['dropNode'].attributes.path = destPath;
					            			node['dropNode'].attributes.url = node['target'].attributes.url + '/' + filename.substr(filename.indexOf('_')+1);
					            			node['dropNode'].ui.elNode.removeClassName("disabled");	
					            		}
					            		else {	
					            			// correct the path / url of the file node which was moved
					            			node['dropNode'].attributes.path = destPath;
					            			node['dropNode'].attributes.url = node['target'].attributes.url + '/' + filename;
					            		}
					            	}

				            		node['dropNode'].select();
				            		medialibrary.setEditArea(node['dropNode']);
				            	}
				            	else {
					                throw o.responseText;
				            	}
				            }
			        	}
					}
					catch (e2) {
						if(e2.replace(/^\s+|\s+$/g, '')=='') {
	            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
	            		}
	            		else {
	            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
	            		}
						location.reload();
					}
		    	};
		    	
		    	var failure = function(o) {
			        try {
			            console.log(o.statusText);
			        } catch (e2) {
			            alert(o.statusText);
			        }
			        location.reload();
			    };
		    	
			    var ajaxCall = function() {
			    	new Ajax.Request(
				        '<?php echo $this->getMoveUrl() ?>',
				        {
				            method		: 'POST',
				            parameters	: p,
				            onSuccess 	: success,
				            onFailure 	: failure
				        }
				    );
			    }
			    
				ajaxCall();
			},
			
			
			/**
			 * Save node changes
			 */
			save : function()
			{
				// ajax parameter container
				var p = '';
				
				// replace
				var replace = false;
				
				// get current node
				var node = currentNode;
				
				// make sure that the node is editable (ie. not in the trashcan)
				if(!node.attributes.editable) {
					if(node.parentNode.isRoot) {
						alert("<?php echo $_helper->__("You cannot edit root directories. If you need to rename a root directory, please do so form the system configuration.") ?>");
					}
					else if(medialibrary.isInTrash(node)) {
						alert("<?php echo $_helper->__("You cannot edit removed files. You must retrieve the file from the trashcan before you can edit it.") ?>");
					}
					else {
						alert("<?php echo $_helper->__("You cannot edit this file or folder.") ?>");
					}
					return false;
				}
				
				// get the area type
				var areaType = (!$('media-library-' + node.attributes.type) && node.isLeaf()) ? 'etc' : node.attributes.type;
				
				// make sure this type has a form
				if(!$('media-library-' + areaType)) {
					return false;
				}

				// get filename & extension
				var fileName = $('media-library-' + areaType + '-filename').value;
				
				// correct the filename
				fileName = fileName.replace(/ /g,'_');
				fileName = fileName.replace(/[^\d+a-z\.\-\_]+/gi,'');

				var fileExtension = '';
				var newFileExt = false;
				
				// get file extension if the type is file
				if(node.isLeaf()) {
					fileExtension = $('media-library-' + areaType + '-extension').value;
					
					var oldExt = node['text'].substr(node['text'].lastIndexOf('.')+1);
					
					// new extension
					if(fileExtension.toLowerCase() !== oldExt.toLowerCase()) {
						newFileExt = true;
						
						if(!confirm('<?php echo $_helper->__("Are you sure that you want to change the file extension? Doing so could render the file useless unless done properly") ?>')) {
							$('media-library-' + areaType + '-extension').value = oldExt;
							return false;
						}
					}
					
					fileExtension = '.' + fileExtension;
				}
				
				// new filename
				var newFileName = fileName + fileExtension;

				// destination file path
				var dest = node.attributes.path + '/' + newFileName;

				// remove double slashes
				dest = dest.replace(/\/\//g,'/');
				
				p = 'srcPath=' + encodeURIComponent(node.attributes.path);
				p+= '&srcFilename=' + encodeURIComponent(node.attributes.filename);
				p+= '&destFilename=' + encodeURIComponent(newFileName);
				p+= '&filetype=' + encodeURIComponent(areaType);

				// specific image rules
				if(areaType.toLowerCase() == 'image') {
					// image width
					if(typeof(node.attributes.width) != "undefined" && $('media-library-' + areaType + '-width')) {
						p+= '&width=' + encodeURIComponent(parseInt($('media-library-' + areaType + '-width').value));
					}
					
					// image height
					if(typeof(node.attributes.height) != "undefined" && $('media-library-' + areaType + '-height')) {
						p+= '&height=' + encodeURIComponent(parseInt($('media-library-' + areaType + '-height').value));
					}
				}

				// fire on ajax success
				var success = function(o) {
					try {
			        	if(o.responseText) {
			        		if(o.responseText==='EXISTS') {
			        			// the file exists, should we replace it?
				            	if(confirm('<?php echo $_helper->__("The file already exists, would you like to replace it?") ?>')) {
				            		p+= '&replace=true';
				            		replace = true;
				            		ajaxCall();
				            	}
				            	else {
				            		// if we weren't allowed to replace the file, add back the former filename / extension
				            		$('media-library-' + areaType + '-filename').value = node['text'].substr(0,node['text'].lastIndexOf('.'));
				            		$('media-library-' + areaType + '-extension').value = node['text'].substr(node['text'].lastIndexOf('.')+1);
				            		return false;
				            	}
				            }
				            else if(o.responseText==='EXISTS-DIR') {
				            	// the directory exists, should we replace it?
				            	if(confirm('<?php echo $_helper->__('A directory with the same name already exists, would you like to replace it?\n\nPlease note that replacing the directory will remove all files inside of the directory as well') ?>')) {
									p+= '&replace=true';
									replace = true;
				            		ajaxCall();
				            	}
				            	else {
				            		// if we weren't allowed to replace the file, add back the former filename
				            		$('media-library-' + areaType + '-filename').value = node['text'];
				            		return false;
				            	}
				            }
				            else if(o.responseText==='SUCCESS') {
				            	// if the filename has been cahnged (if you are working with for instance an image other things then the filename can be modified)
				            	if(node['text'] !== (newFileName)) {
				            		// apply the new filename to the node in the file tree
				            		node.setText(newFileName);
				            		
				            		// the childnodes need to be rendered, otherwise we cannot determine wheter or not the node has children
									if(!node.childrenRendered) {
										node.expand();
										node.collapse();
									}
				            		
									// recursively correct the path and url of all the files moved if a directory was modified
				            		if(node.hasChildNodes()) {				            			
				            			// also expand all childnodes
				            			node.expandChildNodes(true);
					            		node.collapseChildNodes(true);
					            		
					            		// save the path of the first level node that was saved, this path will be reset first of all, so we need to save it otherwise all sub paths / url will become wrong
				            			var nodePath = node.attributes.path + '/' + node.attributes.filename;
				            			
				            			// correct the path / url of the first level node and all the childnodes
			            				node.cascade(function(childNode){
			            					childNode.attributes.url = childNode.attributes.url.replace(nodePath,dest);		// correct the nodes url
				            				childNode.attributes.path = childNode.attributes.path.replace(nodePath,dest);	// correct the nodes path
			            				});
			            				
			            				// correct the filename of the first level node (the one which was changed initially)
					            		node.attributes.filename = newFileName;
				            		}
				            		else {
				            			// correct the filename of the file node
				            			node.attributes.filename = newFileName;
				            			// correct the url of the file node
						            	node.attributes.url = node.attributes.url.substr(0,node.attributes.url.lastIndexOf('/')+1) + (newFileName);
				            		}
				            	}
				            	
				            	// specific image rules
				            	if(areaType.toLowerCase() == 'image') {
				            		// set image width
									if(typeof(node.attributes.width) != "undefined" && $('media-library-' + areaType + '-width')) {
										node.attributes.width = parseInt($('media-library-' + areaType + '-width').value);
									}
									
									// set image height
									if(typeof(node.attributes.height) != "undefined" && $('media-library-' + areaType + '-height')) {
										node.attributes.height = parseInt($('media-library-' + areaType + '-height').value);
									}
				            	}
				            	
				            	// if there was an equalent node, remove it form the file tree
				            	if(replace) {
				            		for(var i=0; i<node.parentNode.childNodes.length; i++) {
				            			var cn = node.parentNode.childNodes[i];

				            			if((cn['text'] === node['text']) && (cn['id'] != node['id'])) {
				            				node.parentNode.removeChild(cn);
				            				break;
				            			}
					            	}
				            	}

				            	// if the file extension has ben modified, update the icon of the node
				            	if(newFileExt) {
				            		var realExt = $('media-library-' + areaType + '-extension').value;									// get the new extension
				            		var newType = typeof(fileTypeFilters[realExt])!="undefined" ? fileTypeFilters[realExt] : 'etc';		// get the new type 
									var newIcon = (newType!='etc') ? newType : 'leaf';													// get the new icon
								
				            		node.ui.elNode.removeClassName(node.attributes.type);	// remove the previous ndoe type classname
				            		node.ui.elNode.addClassName(newIcon);					// set the new node type classname
				            		node.attributes.type = newType;							// set the new node type
				            		
				            		// hide all editing areas
				            		$('media-library-image').hide();
									$('media-library-video').hide();
									$('media-library-audio').hide();
									$('media-library-compressed').hide();
									$('media-library-etc').hide();
				            	}
				            	
				            	// refresh the edit area
			     				medialibrary.setEditArea(node);
				            }
				            else {
				            	throw o.responseText;
				            }
			        	}
					}
					catch (e2) {
						// failure
						if(e2.replace(/^\s+|\s+$/g, '')=='') {
	            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
	            		}
	            		else {
	            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
	            		}
						location.reload();
					}
		    	};
		    	
		    	// fire on ajax failure
		    	var failure = function(o) {
			        try {
			            console.log(o.statusText);
			        } catch (e2) {
			            alert(o.statusText);
			        }
			        location.reload();
			    };
			    
			    // function for the ajax call
			    var ajaxCall = function() {
			    	new Ajax.Request(
				        '<?php echo $this->getSaveUrl() ?>',
				        {
				            method		: 'POST',
				            parameters	: p, 
				            onSuccess 	: success,
				            onFailure 	: failure
				        }
				    );
			    }

			    // make the ajax call
				ajaxCall();
			},
			
			
			/**
			 * Delete a file or folder
			 */
			del : function( specificNode )
			{
				// ajax parameter container
				var p = '';
				
				// get trashcan node
				var trashcan = tree.getNodeById(trashcanNodeId);
				
				// remember: if the trashcan isn't enabled the file will be permanently deleted instead
				
				// get current node
				var node = typeof(specificNode)=="undefined" ? currentNode : specificNode;

				// make sure that the file hasn't already been removed
				if(medialibrary.isInTrashcan(node)) {
					// alert("<?php echo $_helper->__("This file is already in the trashcan"); ?>");
					return false;
				}
				
				// the childnodes need to be rendered, otherwise we cannot determine wheter or not the node has children
				if(!node.childrenRendered) {
					node.expand();
					node.collapse();
				}
				
				// make sure that a node is selected
				if(!node) {
					alert('<?php echo $_helper->__("Error: No node has been selected for removal, please select a node from the file tree and try again") ?>');
					return false;
				}
				
				// users can't delete root nodes
				if(node.parentNode.isRoot) {
					alert('<?php echo $_helper->__("This directory cannot be removed") ?>');
					return false;
				}
				
				// if the selected node has child nodes, warn the user that the child nodes will also be deleted
				if(node.hasChildNodes()) {
					if(!confirm("<?php echo $_helper->__("The directory") ?> \"" + node.attributes.text + "\" <?php echo $_helper->__("isn't empty. Deleting this directory will also delete all of the contents inside of the directory.\\n\\Would you like to continue?") ?>")) {
						return false;
					}
				}
				
				// add source to the parameters, source is the path to the file / directory to be deleted
				var p = 'srcPath=' + encodeURIComponent(node.attributes.path);
					p+= '&filename=' + encodeURIComponent(node.attributes.filename);
				
				// fire on ajax success
				var success = function(o) {
					try {
			        	if(o.responseText) {
				            if(o.responseText.substr(0,7)==='SUCCESS') {
								// if the trashcan is available
				            	if(trashcan) {
									// make sure that the trashcan has been rendered
									if(!trashcan.childrenRendered) {
										trashcan.expand();
										trashcan.collapse();
									}
									
									// append the moved node to the trashcan
									trashcan.appendChild(node);
									
									// make sure that we uncheck the node, and its subnodes from the current selection
									node.cascade(function(cn){
										cn.attributes.checked = false;
										$(cn.getUI().checkbox.id).checked = false;
									});
	
									// get destination path
									var destPath  = (trashcan.attributes.path + '/' + trashcan.attributes.filename);
									
									// remove double slashes
									destPath = destPath.replace(/\/\//g,'/');
									
				            		// if a folder was moved, correct its url / path, and the url / path of all its child nodes as well
				            		if(node.hasChildNodes()) {
				            			// re-render the childs of the moved node, to synchronize the tree
					            		if(!node.childrenRendered) {
						            		node.expand();
						            		node.expandChildNodes(true);
						            		node.collapseChildNodes(true);
									 		node.collapse();
					            		}	
				            		
					            		// save theodl path of the moved node, so that we can correct the path / url's of al the subnodes correctly (the moved node will be corrected first)
					            		var oldSrcPath = node.attributes.path;
					            		var oldFilename = node.attributes.filename;
					            		
					            		// correct node settings, or both the moved node and all its subnodes
			            				node.cascade(function(childNode){
			            					childNode.attributes.url = childNode.attributes.url.replace(oldSrcPath,destPath);							// correct the nodes url
			            					childNode.attributes.path = childNode.attributes.path.replace(oldSrcPath,destPath);							// correct the nodes path
				            				childNode.attributes.url = childNode.attributes.url.replace(oldFilename,o.responseText.substr(8));			// make some further corrections of the nodes url
				            				childNode.attributes.path = childNode.attributes.path.replace(oldFilename,o.responseText.substr(8));		// make some further corrections of the nodes path
				            				childNode.attributes.inTrash = true;																		// the node is no longer in the trashcan
				            				childNode.attributes.editable = false;																		// the node can once again be 
				            				childNode.ui.elNode.addClassName("disabled");																// add the disabled classname to the node
			            				});
			            				
			            				node.attributes.filename = o.responseText.substr(8);	// correct the first level directory nodes filename
			            				node.ui.elNode.addClassName("disabled");				// add the disabled classname to the node
				            		}
				            		else {
										node.attributes.inTrash = true;																					// this node is now in the trashcan
										node.attributes.editable = false;																				// this not is no longer editable
										node.attributes.path = (trashcan.attributes.path + '/' + trashcan.attributes.filename).replace(/\/\//g,'/');	// correct the nodes path
										node.attributes.url = (trashcan.attributes.url + '/' + o.responseText.substr(8));								// correct the nodes url
										node.attributes.filename = o.responseText.substr(8);															// correct the nodes filename
										node.ui.elNode.addClassName("disabled");																		// add the disabled classname to this node
				            		}
				            		
				            		// if the trashcan has classname "empty", remove it
				            		if(trashcan.ui.elNode.hasClassName("empty")) {
				            			trashcan.ui.elNode.removeClassName("empty");
				            		}
				            	}
				            	else {
				            		// if the trashcan isn't available, simple remove the selected node from the tree
				            		node.parentNode.removeChild(node);
				            	}
										
				            	// hide all editing areas
								$('media-library-folder').hide();
								$('media-library-image').hide();
								$('media-library-video').hide();
								$('media-library-audio').hide();
								$('media-library-compressed').hide();
								$('media-library-etc').hide();
				            }
				            else {
				            	throw o.responseText;
				            }
			        	}
					}
					catch (e2) {
						// failure
						if(e2.replace(/^\s+|\s+$/g, '')=='') {
	            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
	            		}
	            		else {
	            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
	            		}
						location.reload();
					}
		    	};
		    	
		    	// fire on ajax failure
		    	var failure = function(o) {
			        try {
			            console.log(o.statusText);
			        } catch (e2) {
			            alert(o.statusText);
			        }
			        location.reload();
			    };
			    
			    // ajax call to remove a file / folder
			 	new Ajax.Request(
			        '<?php echo $this->getDeleteUrl() ?>',
			        {
			            method		: 'POST',
			            parameters	: p, 
			            onSuccess 	: success,
			            onFailure 	: failure
			        }
			    );
			},
			
			
			/**
			 * Check if a node is the trashcan, or is inside of the trashcan
			 *
			 * @parameter object $node
			 * @return boolean
			 */
			isInTrashcan : function( node )
			{
				// get trashcan node
				var trashcan = tree.getNodeById(trashcanNodeId);	
				
				// check if $node is the trashcan node, or is an ancestor (subnode) of the trashcan
				if(node.attributes.id == trashcanNodeId || node.isAncestor(trashcan)) {
					return true;
				}
				
				// the $node was not in the trashcan
				return false;
			},
			

			/** 
			 * Permenantely delete all files inside of the trashcan
			 */
			emptyTrashcan : function() 
			{
				// warn people that all the files in the trashcan will be deleted
				if(!confirm('<?php echo $_helper->__('All the files in the trashcan will be permanently deleted. Do you wish to continue?') ?>')) {
					return false;
            	}	
			
            	// make an AJAX request to PHP to empty the trashcan
				new Ajax.Request(
			        '<?php echo $this->getEmptyTrashcanUrl() ?>',
			        {
			            method		: 'POST',
			            onSuccess 	: function(o){
			            	try {
			            		if(o.responseText) {
			            			if(o.responseText==='SUCCESS') {
			            				// get trashcan tree node
										var trashcan = tree.getNodeById(trashcanNodeId);
										
										// make sure that the trashcan has been rendered
										if(!trashcan.childrenRendered) {
											trashcan.expand();
											trashcan.collapse();
										}
										
										// remove all children from the trashcan tree node
										while(trashcan.firstChild) {
										    trashcan.removeChild(trashcan.firstChild);
										}
										
										// add the classname "empty" to the trashcan's HTML element
										trashcan.ui.elNode.addClassName("empty");
										
										// success
										return true;
			            			}
			            			else {
			            				throw o.responseText;
			            			}
			            		}
			            	}
			            	catch (e2) {
			            		if(e2.replace(/^\s+|\s+$/g, '')=='') {
			            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
			            		}
			            		else {
			            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
			            		}
								location.reload();
			            	}
			            },
			            onFailure 	: function(o) {
			            	try {
					            console.log(o.statusText);
					        } catch (e2) {
					            alert(o.statusText);
					        }
				        	location.reload();
			            }
			        }
			    );
			    
			    // failure
			    return false;
			},
			

			/**
			 * Create a new directory
			 */
			createDir : function()
			{
				// get the sleected node
				var node = currentNode;
				
				// node may not be null
				if(node == null) {
					alert("<?php echo $_helper->__("Please select the directory in the file tree where you would like the new directory to be created.") ?>");
					return false;
				}
				
				// we can't create any directories inside of the trashcan
				if(medialibrary.isInTrashcan(node)) {
					alert("<?php echo $_helper->__("You can't create any directories inside of the trashcan") ?>");
					return false;
				}
				
				// ajax parameter container
				var p = '';
				
				// allow replacing existing directory
				var replace = false;
				
				// make sure that there is a selected node
				if(!node) {
					alert('<?php echo $_helper->__("Warning: No node selected. Please select the directory node which should be the parent for the new subdirectory.") ?>');
					return false;
				}
				
				// new directory name
				var dirName = prompt('<?php echo $_helper->__("New directory name") ?>');

				// dirName may not be empty
				if(dirName == '' || dirName == null) {
					alert('<?php echo $_helper->__("You must assign a name for the new directory, please try again.") ?>');
					return false;
				}
				
				// directory name may not include ../ or ./
				if((dirName.indexOf('../') > 0) || (dirName.indexOf('./') > 0)) {
					alert('<?php echo $_helper->__("For security reasons the directory name may not include ../ or ./, please correct the directory name and try again.") ?>');
					return false;
				}
				
				// the dreictory name may not be ".." or ".", these are reserved by the system
				if((dirName == '.') || (dirName == '..')) {
					alert('<?php echo $_helper->__("This directory name is reserved by the system, please choose another directory name.") ?>');
					return false;
				}
				
				// trim the directory name form whitespaces
				dirName.replace(/^\s+|\s+$/g, '');
				
				// replace all ' ' (spacse) with '_' (underscores)
				dirName = dirName.replace(/ /g,'_');
				
				// clean the directory name from illegal characters
				dirName = dirName.replace(/[^\d+a-z\.\-\_]+/gi,'');

				// directory name may not be empty
				while(dirName == '') {
					var dirName = prompt('<?php echo $_helper->__("Please enter a directory name") ?>');
					
					// trim the directory name form whitespaces
					dirName.replace(/^\s+|\s+$/g, '');
					
					// clean the directory name from illegal characters
					dirName = dirName.replace(/[^\d+a-z\.\-\_]+/gi,'');
				}
				 
				// custom node id
				customNodeId+=1;
				
				// path / url to the new directory
				var path = node.isLeaf() ? node.attributes.path : node.attributes.path + '/' + node.attributes.filename;
				var url = node.isLeaf() ? node.attributes.url.substr(0,node.attributes.url.lastIndexOf('/')+1) + dirName : node.attributes.url + '/' + dirName;

				// remove double slashes
				path = path.replace(/\/\//g,'/');
				
				p = '?path=' + encodeURIComponent(path);	// add path to the parameters, this is the path to the directory which will be created
				p+= '&dir=' + encodeURIComponent(dirName);	// add dir to the parameters, this is the name of the new directory

				// fire on ajax success
				var success = function(o) {
					try {
			        	if(o.responseText) {
				           	if(o.responseText==='EXISTS-DIR') {
				            	// the directory exists, should we replace it?
				            	if(confirm('<?php echo $_helper->__('A directory with the same name already exists, would you like to replace it?\n\nPlease note that replacing the directory will remove all files inside of the directory as well') ?>')) {
									p+= '&replace=true';
									replace = true;
				            		ajaxCall();
				            	}
				            }
				            else if(o.responseText==='SUCCESS') {
				            	// expand the node where this directory node will be applied
				            	if(!node.isLeaf()) {
				            		node.expand();
				            	}
				            
				            	// if a replacement was necessary, remove the old node from the file tree
			            		if(replace) {
				            		// sync file tree
				            		if(node.isLeaf()) {
				            			// if selected node is a leaf node
				            			for(var i=0; i<node.parentNode.childNodes.length; i++) {
					            			var cn = node.parentNode.childNodes[i];
	
					            			if(cn['text'] === dirName) {
					            				node.parentNode.removeChild(cn);
					            				break;
					            			}
						            	}
				            		}
				            		else {
				            			// if selected node is a folder node
					            		for(var i=0; i<node.childNodes.length; i++) {
					            			var cn = node.childNodes[i];
	
					            			if(cn['text'] === dirName) {
					            				node.removeChild(cn);
					            				break;
					            			}
						            	}
				            		}
				            	}

				            	// add a new node, representing the new directory, to the file tree
				            	var newNode = new Ext.tree.TreeNode({
									text 		: dirName,
									id 			: 'custom_tree_node_'+customNodeId,
									leaf 		: false,
									allowDrag 	: true,
									allowDrop 	: true,
									cls 		: 'folder',
									type 		: 'folder',
									path 		: path,
									filename 	: dirName,
									url 		: url,
									editable	: true,
									inTrash		: false,
									uiProvider	: Ext.tree.CheckboxNodeUI,
									checked		: false
								});
								
								if(node.isLeaf()) {
					            	if(node.parentNode.isRoot) {
					            		node.appendChild(newNode);
					            	}
					            	else {
										node.parentNode.appendChild(newNode);
					            	}
								}
								else {
									node.appendChild(newNode);
									newNode.select();
									medialibrary.setEditArea(newNode);
								}
				            }
				            else {
				            	throw o.responseText;
				            }
			        	}
					}
					catch (e2) {
						// failure
						if(e2.replace(/^\s+|\s+$/g, '')=='') {
	            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
	            		}
	            		else {
	            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
	            		}
						location.reload();
					}
		    	};
		    	
		    	// fire on ajax failure
		    	var failure = function(o) {
			        try {
			            console.log(o.statusText);
			        } catch (e2) {
			            alert(o.statusText);
			        }
			        location.reload();
			    };
			    
			    // ajax call function to create a new directory
			    var ajaxCall = function() {
			    	new Ajax.Request(
				        '<?php echo $this->getCreateDirUrl() ?>',
				        {
				            method		: 'POST',
				            parameters	: p, 
				            onSuccess 	: success,
				            onFailure 	: failure
				        }
				    );
			    }
			    
			    // make ajax call
			    ajaxCall();
			},
			
			
			/**
			 * Upload completed
			 *
			 * After files have been uploaded we need
			 * to sync the file tree.
			 */
			uploadComplete : function( files )
			{
				// current node
				var node = currentNode;
				
				// make sure that there is a selected node
				if(!node) {
					alert('<?php echo $_helper->__("No node were selected, unable to synchronize the file tree. The page will now be reloaded to avoid further errors.") ?>');
					location.reload();
				}
				
				// exapnd the node
				node.expand();
				
				try {
					// the childnodes need to be rendered, otherwise  the new nodes won't show up
					if(!node.childrenRendered) {
						node.expand();
						node.collapse();
					}
					
					// add new nodes representing uploaded files
					for(var i=0; i<files.length; i++) {
						eval('var response =' + files[i].response + ';');

						// only perform these actions if the file didn't get an error while uploading
						if(!(typeof(response.error)!="undefined") && (response.error.replace(/^\s+|\s+$/g, '')!='') && (response.error.replace(/^\s+|\s+$/g, '')!='0')) {
							alert('The file "' + files[i].name + '" could not be uploaded: ' + response.error);
						}
						else {
							// add custom node id value
							customNodeId+=1;
							
							// create a new node to add to the file tree
							var newNode = new Ext.tree.TreeNode({
								text 		: response.file,
								id 			: 'custom_tree_node_'+customNodeId,
								leaf 		: true,
								allowDrag 	: true,
								allowDrop 	: true,
								cls 		: response.cls,
								type 		: response.type,
								path 		: (node.attributes.path + '/' + node.attributes.filename).replace(/\/\//g,'/'),
								filename	: response.file,
								url 		: (node.attributes.url + '/' + response.file),
								editable	: true,
								inTrash		: false,
								uiProvider	: Ext.tree.CheckboxNodeUI,
								checked		: false
							});
				            	
							// add the new node to the file tree
		            		node.appendChild(newNode);
			            	
							// mark the file as being uploaded
			            	uploaded[response.file] = true;
						}
					}
				}
				catch (e2) {
					if(e2.replace(/^\s+|\s+$/g, '')=='') {
            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
            		}
            		else {
            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
            		}
					location.reload();
				}
			},
			
			
			/**
			 * Set filter
			 *
			 * A filter can be "image" or "video", for example.
			 *
			 * @param string $filter
			 */
			setFilter : function( filter )
			{
				window.location.href = '<?php echo $this->getUrl('*/*/'); ?>types/' + filter;
			},
			
			
			/**
			 * Tree context menu
			 *
			 * @param object $node
			 */
			treeContextMenu : function( node, e )
			{
				// set current node
				currentNode = node;	
				
				// we can only empty the trashcan if that's the current node, otherwise don't display this option
				if(node.attributes.id == trashcanNodeId) {
					$('tree-context-menu-trashcan').show();
					// $('tree-context-menu-trashcan-separator').show();
				}
				else {
					$('tree-context-menu-trashcan').hide();
					// $('tree-context-menu-trashcan-separator').hide();
				}

				// specific rules for files in the trashcan
				if(medialibrary.isInTrashcan(node)) {
					// hide copy
					$('tree-context-menu-copy').hide();
					
					// hide paste
					$('tree-context-menu-paste').hide();
					$('tree-context-menu-paste-separator').hide();
					
					// hide delete
					$('tree-context-menu-delete').hide();
					$('tree-context-menu-delete-separator').hide();
					
					// hdie create dir
					$('tree-context-menu-create-dir').hide();
					$('tree-context-menu-create-dir-separator').hide();
					
					// hdie compress
					$('tree-context-menu-compress').hide();
					$('tree-context-menu-compress-separator').hide();
					
					// hdie extract
					$('tree-context-menu-extract').hide();
					$('tree-context-menu-extract-separator').hide();
					
					if(node.attributes.id === trashcanNodeId) {
						// show trashcan separator
						$('tree-context-menu-trashcan-separator').show();
						// hide expand separator
						$('tree-context-menu-expand-separator').hide();
					}
					else {
						// hide trashcan separator
						$('tree-context-menu-trashcan-separator').hide();
						// show expand separator
						$('tree-context-menu-expand-separator').show();
					}
				}
				else {
					// hide trashcan separator
					$('tree-context-menu-trashcan-separator').hide();	
				
					// show copy	
					$('tree-context-menu-copy').show();
					
					// show paste
					if(copyNode!=null) {
						$('tree-context-menu-paste').show();
						$('tree-context-menu-paste-separator').show();
					}
					else {
						$('tree-context-menu-paste').hide();
						$('tree-context-menu-paste-separator').hide();
					}
					
					// show extract separator
					$('tree-context-menu-expand-separator').show();

					// show create new dir
					$('tree-context-menu-create-dir').show();
					$('tree-context-menu-create-dir-separator').show();
					
					// we can't delete or compress any root directories
					if(!node.parentNode.isRoot) {
						// show delete option
						$('tree-context-menu-delete').show();
						$('tree-context-menu-delete-separator').show();
					}
					else {
						// hide delete option
						$('tree-context-menu-delete').hide();
						$('tree-context-menu-delete-separator').hide();
						
						// hide extract option
						$('tree-context-menu-extract').hide();
						$('tree-context-menu-extract-separator').hide();
					}
					
					// compressed specific options
					if(node.attributes.type=='compressed') {
						// show extract option
						$('tree-context-menu-extract').show();
						$('tree-context-menu-extract-separator').show();
						
						// hide compress option
						$('tree-context-menu-compress').hide();
						$('tree-context-menu-compress-separator').hide();
					}
					else {
						// hide extract option
						$('tree-context-menu-extract').hide();
						$('tree-context-menu-extract-separator').hide();
						
						// show compress option
						$('tree-context-menu-compress').show();
						$('tree-context-menu-compress-separator').show();
					}
				}
				
				// folder specific rules
				if(!node.isLeaf()) {
					// show download option
					$('tree-context-menu-download').hide();
					$('tree-context-menu-download-separator').hide();
					
					// show expand option
					$('tree-context-menu-expand').show();
					
					if(!medialibrary.isInTrashcan(node)) {
						$('tree-context-menu-expand-separator').show();
					}
					else {
						$('tree-context-menu-expand-separator').hide();
					}
					
					// show collapse option
					$('tree-context-menu-collapse').show();
					$('tree-context-menu-collapse-separator').show();
				}
				else {
					// show download option
					$('tree-context-menu-download').show();
					
					if(medialibrary.isInTrashcan(node)) {
						// hide download separator
						$('tree-context-menu-download-separator').hide();
					}
					else {
						// show download separator
						$('tree-context-menu-download-separator').show();
					}

					// hide expand option
					$('tree-context-menu-expand').hide();
					$('tree-context-menu-expand-separator').hide();
					
					// hide collapse option
					$('tree-context-menu-collapse').hide();
					$('tree-context-menu-collapse-separator').hide();
				}
				
				var contextObj = $('tree-context-menu');			// context menu element
				var shadowObj = $('tree-context-menu-shadow');		// shadow element for the context menu element
				
				// if both the context menu, and the shadow for the context menu elements exists
				if(contextObj && shadowObj) {
					// get the current mouse coordinates
					var xy = medialibrary.getMouseXY(e);
					
					// context menu element
					contextObj.style.left = xy[0] + 'px';
					contextObj.style.top = xy[1] + 'px';
					contextObj.style.MozOpacity = '0.0';
					contextObj.style.display = 'block';
					
					// shadow menu element
					shadowObj.style.width = contextObj.getWidth() + 'px';
					shadowObj.style.height = contextObj.getHeight() + 'px';
					shadowObj.style.left = parseInt(contextObj.style.left)+2 + 'px';
					shadowObj.style.top = parseInt(contextObj.style.top)+2 + 'px';
					shadowObj.style.MozOpacity = '0.0';
					shadowObj.style.display = 'block';
					
					// fade the complete context menu
					Effect.Fade('tree-context-menu',{ duration: 0.2, from: 0, to: 1 });
					Effect.Fade('tree-context-menu-shadow',{ duration: 0.2, from: 0, to: 0.3 });
					
					// hide editing areas
					$('media-library-image').hide();
					$('media-library-video').hide();
					$('media-library-audio').hide();
					$('media-library-compressed').hide();
					$('media-library-etc').hide();
					
					// set the context node to be select, and display it in the editing area
					node.select();
					medialibrary.setEditArea();
				}
			},
			
			
			/**
			 * Retrun current mouse coordinates
			 *
			 * @param event $e
			 * @return array
			 * @author Kravvitz of DynamicSiteSolutions.com & edited by MageParts Crew
			 */
			getMouseXY : function( e ) 
			{ 
				if(e.getXY()) {
					return e.getXY();
				}
				else {
	  				var x=0,y=0;
	  			
	  				e=e||window.event;
	  				if(e.pageX || e.pageY) {
	    				x=e.pageX;
	   					y=e.pageY;
	  				} else if(typeof(e.clientX)=='number') {
	    				var dE=document.documentElement;
	    				x=e.clientX+document.body.scrollLeft+(dE?dE.scrollLeft:0);
	    				y=e.clientY+document.body.scrollTop+(dE?dE.scrollTop:0);
	  				}
	  				return [x,y];
				}
			},
			
			
			/**
			 * Hide visible context menues
			 */
			hideContextMenus : function()
			{
				// tree context menu
				if($('tree-context-menu') && $('tree-context-menu').style.display == 'block') {
					Effect.Fade('tree-context-menu',{ duration: 0.2, from: 1, to: 0.0 });
					setTimeout("$('tree-context-menu').style.display = 'none'",201);
				}
				
				// tree context menues shadow
				if($('tree-context-menu-shadow') && $('tree-context-menu-shadow').style.display == 'block') {
					Effect.Fade('tree-context-menu-shadow',{ duration: 0.1, from: 0.3, to: 0.0 });
					setTimeout("$('tree-context-menu-shadow').style.display = 'none'",101);
				}
			},
			
			
			/**
			 * Copy a file
			 */
			copy : function()
			{
				// make sure that a node is selected
				if(currentNode == null) {
					alert("<?php echo $_helper->__("No node selected for copying. Please make sure that you have selected a node in the file tree and try again.") ?>");
					return false;
				}
				// save the node to be copied in the internal memory
				copyNode = currentNode;
			},
			
			
			/**
			 * Paste file
			 */
			paste : function( specificNode )
			{
				// check if a specific node was requested to be copied
				if(typeof(specificNode)!="undefined") {
					copyNode = specificNode;
				}
			
				// lets make a node has been selected for copying
				if(copyNode == null) {
					alert("<?php echo $_helper->__("No node selected for copying. Please copy a node from the file tree before pasting.") ?>");
					return false;
				}
			
				// get the sleected node
				var node = currentNode;
				
				// make sure that the user didn't try to paste a file inside of the trashcan
				if(medialibrary.isInTrashcan(node) || node.attributes.id==trashcanNodeId)	{
					alert("<?php echo $_helper->__("You can't paste a file inside of the trashcan.") ?>");
					return false;
				}
				
				// ajax parameter container
				var p = '';
				
				// make sure that there is a selected node
				if(!node) {
					alert('<?php echo $_helper->__("No node is selected. Please select a node so that the script knows where to paste the file.") ?>');
					return false;
				}
				
				var filename = copyNode.attributes.filename;
				var destPath = node.isLeaf() ? node.attributes.path : node.attributes.path + '/' + node.attributes.filename;
				var srcPath = copyNode.attributes.path;
				var url = node.isLeaf() ? node.attributes.url.substr(0,node.attributes.url.lastIndexOf('/')+1) + filename : node.attributes.url + '/' + filename;
				
				// remove double slashes from destination path
				destPath = destPath.replace(/\/\//g,'/');
				
				// add variables to parameters
				p = '?srcPath='  + encodeURIComponent(srcPath);
				p+= '&destPath=' + encodeURIComponent(destPath);
				p+= '&filename=' + encodeURIComponent(filename);
				
				// add value to custom node id
				customNodeId+=1;
				
				// fire on ajax success
				var success = function(o) {
					try {
			        	if(o.responseText) {
			        		if(o.responseText.substr(0,7)==='SUCCESS') {
				            	// expand the node where this directory node will be applied
				            	if(!node.isLeaf()) {
				            		node.expand();
				            	}
								
				            	// duplicate the copyNode
				            	var newNode = medialibrary.duplicateNode(copyNode);
				            	// the duplicated node should not be selected
				            	newNode.attributes.checked = false;
				            	
				            	// correct the attributes of the duplicated node(s)
				            	newNode.cascade(function(childNode){
				            		// correct the nodes url
	            					childNode.attributes.url = childNode.attributes.url.replace(srcPath,destPath);
	            					//childNode.attributes.url = childNode.attributes.url.substr(0,childNode.attributes.url.lastIndexOf('/')+1) + o.responseText.substr(8);
	            					
	            					//alert(childNode.attributes.url);
	            					
	            					// correct the nodes path
	            					childNode.attributes.path = childNode.attributes.path.replace(srcPath,destPath);
	            					// childNode.attributes.path+= !childNode.isLeaf() ? '/' + o.responseText.substr(8) : '';
				            	});
	            				
	            				// correct the filename / text of the first level node (if there was a node with the same filename in the paste location PHP will have corrected it for us)
	            				newNode.attributes.filename = o.responseText.substr(8);
	            				newNode.setText(o.responseText.substr(8));
	            				
				            	// add a new node, representing the new directory, to the file tree 
								if(node.isLeaf()) {
					            	if(node.parentNode.isRoot) {
					            		node.appendChild(newNode);
					            	}
					            	else {
										node.parentNode.appendChild(newNode);
					            	}
								}
								else {
									node.appendChild(newNode);
									newNode.select();
									medialibrary.setEditArea(newNode);
								}
				            }
				            else {
				            	throw o.responseText;
				            }
			        	}
					}
					catch (e2) {
						// failure
						if(e2.replace(/^\s+|\s+$/g, '')=='') {
	            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
	            		}
	            		else {
	            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
	            		}
						location.reload();
					}
		    	};
		    	
		    	// fire on ajax failure
		    	var failure = function(o) {
			        try {
			            console.log(o.statusText);
			        } catch (e2) {
			            alert(o.statusText);
			        }
			        location.reload();
			    };
			    
			    // ajax call function to create a new directory
			    var ajaxCall = function() {
			    	new Ajax.Request(
				        '<?php echo $this->getCopyUrl() ?>',
				        {
				            method		: 'POST',
				            parameters	: p, 
				            onSuccess 	: success,
				            onFailure 	: failure
				        }
				    );
			    }
			    
			    // make ajax call
			    ajaxCall();
			},
			
			
			/**
			 * Duplicate a node, and possible subnodes
			 *
			 * @param object $node
			 * @return object
			 */
			duplicateNode : function( node )
			{
				// add to custom node id
				customNodeId++;	
			
				// create a new node object with the same property as the provided node
				var newNode = new Ext.tree.TreeNode(Object.clone(node.attributes));
				newNode.attributes.id = 'custom_tree_node_'+customNodeId;

				// if the node to be duplicated has any children, duplicate them as well
				if(node.hasChildNodes()) {
					// render the nodes children if necessary
					if(!node.childrenRendered) {
						node.expand();
						node.collapse();	
					}
					
					node.eachChild(function(childNode){
						newNode.appendChild(medialibrary.duplicateNode(childNode));
					});
				}
				
				// return the duplicated node
				return newNode;
			},

			
			/**
			 * Search for a node inside of another node by name, remove the node if found
			 *
			 * @parameter object $node
			 * @parameter string $nodeName
			 */
			removeNodeByName : function( node, nodeName )
			{
				if(node.isLeaf()) {
    				// if selected node is a leaf node
					for(var i=0; i<node.parentNode.childNodes.length; i++) {
            			var cn = node.parentNode.childNodes[i];

            			if(cn['text'] === nodeName) {
            				node.parentNode.removeChild(cn);
            				break;
            			}
	            	}
        		}
        		else {
        			// if selected node is a folder node
            		for(var i=0; i<node.childNodes.length; i++) {
            			var cn = node.childNodes[i];

            			if(cn['text'] === nodeName) {
            				node.removeChild(cn);
            				break;
            			}
	            	}
        		}
			},
			
			
			/**
			 * Open a new window to download the file
			 */
			downloadFile : function()
			{
				// get current node
				var node = currentNode;
				
				if(node.isLeaf()) {
					window.open(node.attributes.url,'_blank');
				}
				else {
					alert('<?php echo $_helper->__("The feature to download directories has yet not been implemented") ?>');
				}
			},
			
			
			/**
			 * Check a node
			 *
			 * @param object $node
			 * @param event $e
			 */
			checkNode : function( node, e )
			{
				// set current node
				// currentNode = node;	
				
				// select the new node
				node.select();
				
				// update the edit area
				medialibrary.setEditArea(node);
			},
			
			
			/**
			 * Perform an action on all selected nodes
			 */
			multiAction : function()
			{
				// get selected action
				var action = $('media-library-multi-action').options[$('media-library-multi-action').selectedIndex].value;
				
				// correct selected nodes. if a parent node is selected while having selected children, mark all the selected children with "checkedParent = true". To avoid conflicts in various functions.
				tree.getChecked().each(function(node){
					// get ndoe object
					var node = tree.getNodeById(node);	
					// reset checkParent attribute
					node.attributes.checkedParent = false;
					
					// check if this node is a children of an already selected node
					tree.getChecked().each(function(n) {
						// get node object
						var n = tree.getNodeById(n);	
					
						// if n is a parent for node, mark node as checkedParent
						if(n.contains(node)) {
							node.attributes.checkedParent = true;
						}
					});
				});
				
				// zip action (compress files)
				if(action=="compress-zip") {
					medialibrary.compress(tree.getChecked(),'zip',false);
				}
				else {
					if(action=='delete' && !confirm("<?php echo $_helper->__("All the selected files will be deleted, do you wish continue?") ?>")) {
						return false;
					}
				
					// perform this action for each node
					if(nodes = tree.getChecked()) {
						tree.getChecked().each(function(nodeId){
							// get node object
							var node = tree.getNodeById(nodeId);
							
							// make sure that the node hasn't a selected parent
							if(!node.attributes.checkedParent) {
								switch (action) {
									case 'delete' : 
										medialibrary.del(node);
										break;
									default :
										alert("Invalid action selection. Please try again.");
										break;
								}
							}
						});
					}
				}
				
				// uncheck nodes
				tree.getChecked().each(function(nodeId){
					var node = tree.getNodeById(nodeId);
					node.attributes.checked = false;
					$(node.getUI().checkbox.id).checked = false;
				});
			},
			
			
			/**
			 * Compress files and folders
			 *
			 * @param array $nodeList
			 * @param string $method [compression method, such as 'zip' or 'rar]
			 * @param boolean $landInParentDirectory [the compressed file should land in the selected files parent directory]
			 */
			compress : function( nodeList, method, landInParentDirectory )
			{
				// list of files to be compressed
				var fileList = '';
				
				// get select node
				var node = currentNode;
				
				// multiple nodes
				if(typeof(nodeList)!="undefined" && nodeList) {	
					nodeList.each(function(nodeId){
						// get node object
						var listNode = tree.getNodeById(nodeId);

						// check if the listNode has any children, if it's not a leaf
						if(listNode.isLeaf() || listNode.hasChildNodes()) {
							// if the node doesn't have a chekced parent node, add it to the file list
							if(!listNode.attributes.checkedParent) {
								fileList += fileList!='' ? '|' + listNode.attributes.path + '/' + listNode.attributes.filename : listNode.attributes.path + '/' + listNode.attributes.filename;
							}
						}
					});
				}
				else {
					// render children if necessary
					if(!node.isLeaf() && !node.childrenRendered) {
						node.expand();
						node.collapse();
					}
				
					// check if the node has any children, if it's not a leaf
					if(node.isLeaf() || node.hasChildNodes()) {
						// single node
						fileList = node.attributes.path + '/' + node.attributes.filename;
					}
				}

				// we can't compress an empty list
				if(fileList=='') {
					alert("<?php echo $_helper->__("There are no files present in the compression list. Did you perhaps attempt to compress an empty directory?") ?>");
					return false;
				}
				
				// get file path
				var path = (node.isLeaf() || (landInParentDirectory && !node.parentNode.isRoot)) ? node.attributes.path : node.attributes.path + '/' + node.attributes.filename;
	
				// add required ajax parameters
				p = 'fileList=' + encodeURIComponent(fileList);		// files to be compressed
				p+= '&method=' + encodeURIComponent(method);		// compression method (current only zip is supported)
				p+= '&path=' + path;								// landing path
					
				var success = function(o) {
					try {
			        	if(o.responseText) {
			            	// php has succeeded
			            	if(o.responseText.substr(0,7)==='SUCCESS') {
			            		// add to custom node id
			            		customNodeId++;	
			            	
			            		// get file url
			            		var url = (node.isLeaf() || (landInParentDirectory && !node.parentNode.isRoot)) ? node.attributes.url.substr(0,node.attributes.url.lastIndexOf('/')+1) + (o.responseText.substr(8)) : node.attributes.url + '/' + o.responseText.substr(8);

			            		// add a new node, representing the new directory, to the file tree
				            	var newNode = new Ext.tree.TreeNode({
									text 		: o.responseText.substr(8),
									id 			: 'custom_tree_node_'+customNodeId,
									leaf 		: true,
									allowDrag 	: true,
									allowDrop 	: true,
									cls 		: 'compressed',
									type 		: 'compressed',
									path 		: path,
									filename 	: o.responseText.substr(8),
									url 		: url,
									editable	: true,
									inTrash		: false,
									uiProvider	: Ext.tree.CheckboxNodeUI,
									checked		: false
								});
							
								// render child nodes
								if(!node.childrenRendered) {
				            		node.expand();
							 		node.collapse();
			            		}	
								
			            		// append new childnode
								if((node.isLeaf() || (landInParentDirectory && !node.parentNode.isRoot))) {
					            	if(node.parentNode.isRoot) {
					            		node.appendChild(newNode);
					            		node.expand();
					            	}
					            	else {
										node.parentNode.appendChild(newNode);
					            	}
								}
								else {
									node.appendChild(newNode);
									node.expand();
								}
								
								// select the new node
								newNode.select();
								// update the edit area
								medialibrary.setEditArea(newNode);
			            	}
			            	else {
				                throw o.responseText;
				            }
			        	}
					}
					catch (e2) {
						if(e2.replace(/^\s+|\s+$/g, '')=='') {
	            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
	            		}
	            		else {
	            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
	            		}
						location.reload();
					}
		    	};
		    	
		    	var failure = function(o) {
			        try {
			            console.log(o.statusText);
			        } catch (e2) {
			            alert(o.statusText);
			        }
			        location.reload();
			    };
		    	
			    var ajaxCall = function() {
			    	new Ajax.Request(
				        '<?php echo $this->getCompressUrl() ?>',
				        {
				            method		: 'POST',
				            parameters	: p,
				            onSuccess 	: success,
				            onFailure 	: failure
				        }
				    );
			    }
			    
			    // perform ajax call
				ajaxCall();
			},
			
			
			/**
			 * Extract a compressed file. The file to be extracted is always $currentNode.
			 */
			extract : function()
			{
				// get selected node
				var node = currentNode;
				
				var success = function(o) {
					try {
			        	if(o.responseText) {
			            	// php has succeeded
			            	if(o.responseText==='SUCCESS') {
			            		// the page will need to be reloaded before the tree can display the extracted files
			            		if(confirm('<?php echo $_helper->__('The file was successfully extracted. You will need to reload the page in order to see the extract files in the file tree.\n\n Would you like to reload the page now?') ?>')) {
									location.reload();
				            	}
			            	}
			            	else {
				                throw o.responseText;
				            }
			        	}
					}
					catch (e2) {
						if(e2.replace(/^\s+|\s+$/g, '')=='') {
	            			alert('<?php echo $_helper->__("An unknown error has occurred. The page will now be reloaded to avoid further errors.") ?>');
	            		}
	            		else {
	            			alert("<?php echo $_helper->__("Error:") ?> " + e2);
	            		}
						location.reload();
					}
		    	};
		    	
		    	var failure = function(o) {
			        try {
			            console.log(o.statusText);
			        } catch (e2) {
			            alert(o.statusText);
			        }
			        location.reload();
			    };
		    	
			    var ajaxCall = function() {
			    	new Ajax.Request(
				        '<?php echo $this->getExtractUrl() ?>',
				        {
				            method		: 'POST',
				            parameters	: 'file=' + encodeURIComponent(node.attributes.path + '/' + node.attributes.filename),
				            onSuccess 	: success,
				            onFailure 	: failure
				        }
				    );
			    }
			    
			    // perform ajax call
				ajaxCall();
			},
			
			
			/**
			 * Expand the currently selected node and all its childnodes
			 */
			expandAll : function()
			{
				// get current node
				var node = currentNode;
				
				// expand node and all its childnodes
				node.expand();
				node.expandChildNodes(true);
			},
			
			
			/**
			 * Collapse the currently selected node and all its childnodes
			 */
			collapseAll : function()
			{
				// get current node
				var node = currentNode;
				
				// collapse node and all its childnodes
				node.collapse();
				node.collapseChildNodes(true);
			},
			
			
			/**
			 * For images, whether or not to constrain images
			 */
			toggleConstrainProportions : function(obj, constrainEl)
			{
				if(typeof(obj.checked) == "boolean") {
					if($(constrainEl)) {
						if(obj.checked) {
							$(constrainEl).style.display = 'inline';
						}
						else {
							$(constrainEl).style.display = 'none';
						}
					}
				}				
			},
			
			imageSetConstraintProportions : function(base, constraintEl)
			{
				if(!$(constraintEl) || typeof($(constraintEl).checked) != "boolean" || !$(constraintEl).checked) {
					return;
				}
				
				var defaultHeight 	= parseInt(currentNode.attributes.height);
				var defaultWidth	= parseInt(currentNode.attributes.width);
				
				var n = 0;
				
				wObj = $('media-library-image-width');
				hObj = $('media-library-image-height');
				
				if(base == 'width') {
					hObj.value = Math.round((defaultHeight * parseInt(wObj.value))/defaultWidth);
				}
				else if(base == 'height') {
					wObj.value = Math.round((defaultWidth * parseInt(hObj.value))/defaultHeight);
				}
			}
			
	};

//]]>
</script>
<script type="text/javascript">
	// Document onclick event, hide all context menus
	document.onclick=medialibrary.hideContextMenus;
</script>