/**
 * MageParts
 * 
 * NOTICE OF LICENSE
 * 
 * This code is copyrighted by MageParts and may not be reproduced
 * and/or redistributed without a written permission by the copyright 
 * owners. If you wish to modify and/or redistribute this file please
 * contact us at info@mageparts.com for confirmation before doing
 * so. Please note that you are free to modify this file for personal
 * use only.
 *
 * If you wish to make modifications to this file we advice you to use
 * the "local" file scope in order to aviod conflicts with future updates. 
 * For information regarding modifications see http://www.magentocommerce.com.
 *  
 * DISCLAIMER
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE 
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF 
 * USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY 
 * OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
 * OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
 * OF THE POSSIBILITY OF SUCH DAMAGE.
 * 
 * @category   MageParts
 * @package    MageParts_MediaLibrary
 * @copyright  Copyright (c) 2009 MageParts (http://www.mageparts.com/)
 * @author 	   MageParts Crew
 */
 
.wrapper .header,
.wrapper .footer,
.wrapper .notification-global {
	display:none;
}

html,
body {
	background:#fff;
	margin-top:5px;
}

.middle {
	background:none;
	padding:0px 27px 0 27px;
}

h3 { 
	color:#2B6FB6; 
	margin:0; 
	padding:0; 
	padding-top:0px;
}

.x-tree-node span {
	font-family:Arial, Tahoma, Verdana;
	font-size:1em;
}

.content-header .icon-head {
	font-family:Arial, Tahoma, Verdana;
	float:left; 
	margin:.3em .5em 0 0; 
	color:#eb5e00;
	font-size:1.5em; 
	line-height:1.2em;
}

#media-library-main-col h4.head-edit-form {
	font-size:1.1em;
	font-family:Arial, Tahoma, Verdana;
}

#media-library-main-col .form-list label,
#media-library-main-col .form-list span,
#media-library-main-col .form-list input {
	font-family:Arial, Tahoma, Verdana;
	font-size:12px;
}

#media-library-main-col .form-list input {
	padding:1px;
}