<?php
// For Product List
// $this->getRequest()->getParam('att');
echo 'data=>'.$this->getRequest()->getParam('attr');

$attributeCode = 'bmw_engine';
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addAttributeToSelect('*');
$collection->addFieldToFilter(array(
	array('attribute'=>$attributeCode,'eq'=>$this->getRequest()->getParam('attr')),
));
echo "<select>";
foreach ($collection as $product) {
	echo "<option value='".$product->getId()."'>".$product->getName()."</option>";
}
echo "</select>"
?>
