<?php
	//echo $this->getContent(); 
?>
<?php
    // For Attribute
    $attributeCode = 'bmw_engine';
	$attributeId = Mage::getResourceModel('eav/entity_attribute')->getIdByCode('catalog_product',$attributeCode);
	$attribute = Mage::getModel('catalog/resource_eav_attribute')->load($attributeId);
	$attributeOptions = $attribute ->getSource()->getAllOptions();
	// For Product List
	/*$collection = Mage::getModel('catalog/product')->getCollection();
	$collection->addAttributeToSelect('*');
	$collection->addFieldToFilter(array(
		array('attribute'=>$attributeCode,'eq'=>'4'),
	));
	
	
	foreach ($collection as $product) {
		//var_dump($product);
		echo "<pre>";
		echo $product->getName();
	}*/
?>
<select name = "attribute" id = "attribute" onchange="return getProductList(this);">
	<?php foreach( $attributeOptions as $attributeOption) { ?>
		<option value = "<?php echo $attributeOption['value'];?>"><?php echo $attributeOption['label'];?></option>
	<?php } ?>
</select>
<div id="test">
</div>
<script>
var reloadurl = '<?php echo $this->getUrl('search/index/action') ?>';
function getProductList(obj){
	// alert(obj.name);
	// alert(obj.value);
	var param=  'attr='+obj.value;
	
	new Ajax.Request(reloadurl, {
	method: 'post',
	parameters: param,
	onComplete: function(transport) {
	$('test').innerHTML = "";
	// $('test').innerHTML = transport.responseText;
	response = transport.responseText;
	var select = document.createElement("select");
	var obj = JSON.parse(response);
// alert(obj.length);
	var combobox = "<select>";
	// var option = document.createElement("option");
	var ob;
	alert(obj);
	
	for(ob in obj){
		combobox =  combobox +'<option value= '+ob+'>';
		combobox =  combobox + obj[ob];
		combobox =  combobox +'</option>';
	}
	
		
		/*</option>
		//alert(obj[i].id);
		//alert(obj[i].id);	 
		alert(obj[i].id);
	  option.id = obj[i].id;
	  option.value = obj[i].id;
	  option.innerHTML = obj[i].id;
	  select.appendChild(option);
	  // alert(option.toSource());	  */

	combobox = combobox + '</select>';
	
	$('test').innerHTML = combobox;
}
	});
}
</script>
