@import "design-scale";

@mixin render($ratio: 1) {

	.slide-overlay {
		width: $ratio * 350px;
	}
	.slide-heading,
	.slide-text{
		margin-bottom: $ratio * 30px;
		font-family: 'Montserrat';
	}
	.slide-heading {
		font-size: $ratio * 60px;
		line-height: 52px;
	}
	.slide-text {
		font-size: $ratio * 22px;
		margin-bottom: $ratio * 40px;
	}
	.slide-button {
		font-size: $ratio * 16px;
	}
	.slide-button span {
		padding: $ratio * 6px $ratio * 14px;
	}
	.slide-overlay {
		top: $ratio * 90px;
		left: $ratio * 70px;
		width: $ratio * 350px;
	}
	.slide-show-slides button {
		width: $ratio * 20px;
		height: $ratio * 40px;
		margin-top: $ratio * -20px;
	}
	.slide-content {
		width: $ratio * 980px;
		height: $ratio * 450px;
	}

	.slide-image {
		max-width: $ratio * 980px;
		max-height: $ratio * 450px;
	}
}

/* Context-independent */
.slide-show-render {
	font-family: 'Montserrat', sans-serif;
}
.slide-show-render .slide-overlay {
	text-align: left;
}
.slide-show-render h2 {
	text-transform: uppercase;
	font-weight: 300;
}
.slide-show-render ol {
	margin: 0;
	padding: 0;
	display: block;
}
.slide-show-render li {
	list-style: none;
	width: 980px;
	height: 450px;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	position: relative;
	border-bottom: 4px solid black;
}
.slide-show-render .slide-heading {
	line-height: 1em;
	margin-bottom: 20px;
}
.slide-show-render .slide-text {
	margin-bottom: 20px;
	line-height: 1.3;
}
.slide-show-render .slide-button {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.3;
}
.slide-show-render .slide-overlay-wrapper {
	position: relative;
}
.slide-show-render .slide-button span {
	background: black;
	border-radius: 5px;
}
.slide-show-render .slide-overlay {
	position: absolute;
	color: #fff;
	z-index: 50;
	text-shadow: 1px 1px 2px #000;
}

.slide-show-render .slide-show-slides {
	position: relative;
	width: 980px;
	height: 454px;
	overflow: hidden;
}
.slide-show-render .slide-show-slides button {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	line-height: normal;
	vertical-align: middle;
	background-color: transparent;
}
.slide-show-render .btn-prev {
	background-image: url('../images/hero_prev.gif');
}
.slide-show-render .btn-next {
	background-image: url('../images/hero_next.gif');
	right: 0;
}

.slide-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.slide-show-render-large {
	@include render($large-slide-ratio);
}

.slide-show-render-small {
	@include render($small-slide-ratio);
}

.slide-show-render-full {
	@include render;
}