<select name = "make" id = "make" onchange="getModelList(this.value);">
	<?php 
        $data_array=array();
        $model = Mage::getModel("filter/filter");
        $collection = $model->getCollection();
        $collection -> getSelect() ->group('make'); 
        ?>
        <option value = "-1">Select Make</option>
        <?php foreach ($collection as $product) {
            $id   = $product->getId();
            $model->load($id);
            $modelValue=$model->getMake();
            $data_array[$modelValue] = $modelValue;
            ?>
		<option value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
	<?php } ?>
</select>
<select name = "model" id = "model" onchange="getYearList(this.value);">
	<?php 
        $data_array=array();
        $model = Mage::getModel("filter/filter");
        $collection = $model->getCollection();
        $collection -> getSelect() ->group('model'); 
        ?>
        <option value = "-1">Select Model</option>
        <?php 
        foreach ($collection as $product) {
            $id   = $product->getId();
            $model->load($id);
            $modelValue=$model->getModel();
            $data_array[$modelValue] = $modelValue;
            ?>
		<option value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
	<?php } ?>
</select>
<select name = "year" id = "year" onchange="return getEngnolList(this.value);">
	<?php 
        $data_array=array();
        $model = Mage::getModel("filter/filter");
        $collection = $model->getCollection();
        $collection -> getSelect() ->group('year'); 
        ?>
        <option value = "-1">Select Year</option>
        <?php 
        foreach ($collection as $product) {
            $id   = $product->getId();
            $model->load($id);
            $modelValue=$model->getYear();
            $data_array[$modelValue] = $modelValue;
            ?>
		<option value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
	<?php } ?>
</select>
<select name = "engineno" id = "engineno" >
	<?php 
        $data_array=array();
        $model = Mage::getModel("filter/filter");
        $collection = $model->getCollection();
        $collection -> getSelect() ->group('engineno'); 
        ?>
        <option value = "-1">Select Engine No</option>
        <?php 
        foreach ($collection as $product) {
            $id   = $product->getId();
            $model->load($id);
            $modelValue=$model->getEngineno();
            $data_array[$modelValue] = $modelValue;
            ?>
		<option value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
	<?php } ?>
</select>

<script>
    
function getModelList(obj){ 
        var reloadurl = '<?php echo $this->getUrl('filter/index/model') ?>';
        
	var param=  'make='+obj+'&model=-1&year=-1';
        if(obj.value!='-1'){
	new Ajax.Request(reloadurl, {
	method: 'post',
	parameters: param,
	onComplete: function(transport) {
            $('model').innerHTML = "";
            response = transport.responseText;
            var select = document.createElement("select");
            var obj = JSON.parse(response);
            //alert(obj.toSource())
            var combobox = "";
            var ob;
            for(ob in obj){
            if(ob=='-1'){
                 $('year').innerHTML = '<option value="-1">Select Year</option>';
                 $('engineno').innerHTML = '<option value="-1">Select Engine No</option>';
            }    
                    combobox =  combobox +'<option value= "'+ob+'">';
                    combobox =  combobox + obj[ob];
                    combobox =  combobox +'</option>';
                    
            }
            
            $('model').innerHTML = combobox;
        }
	});
        }
}
function getYearList(obj){ 
         var reloadurl = '<?php echo $this->getUrl('filter/index/model') ?>';
        
	var param=  'make='+$('make').value+'&model='+obj+'&year=-1';
       if(obj.value!='-1'){
	new Ajax.Request(reloadurl, {
	method: 'post',
	parameters: param,
	onComplete: function(transport) {
            $('year').innerHTML = "";
            response = transport.responseText;
            var select = document.createElement("select");
            var obj = JSON.parse(response);
            var combobox = "";
            var ob;
            //alert(obj.toSource())
            for(ob in obj){
            if(ob=='-1'){
                $('engineno').innerHTML = '<option value="-1">Select Engine No</option>';
            }
                    combobox =  combobox +'<option value= "'+ob+'">';
                    combobox =  combobox + obj[ob];
                    combobox =  combobox +'</option>';
            }
            $('year').innerHTML = combobox;
        }
	});}
}
function getEngnolList(obj){ 
         var reloadurl = '<?php echo $this->getUrl('filter/index/model') ?>';
        
	var param=  'make='+$('make').value+'&model='+$('model').value+'&year='+obj;
        if(obj.value!='-1'){
	new Ajax.Request(reloadurl, {
	method: 'post',
	parameters: param,
	onComplete: function(transport) {
            $('engineno').innerHTML = "";
            response = transport.responseText;
            var select = document.createElement("select");
            var obj = JSON.parse(response);
            var combobox = "";
            var ob;
            for(ob in obj){
                    combobox =  combobox +'<option value= "'+ob+'">';
                    combobox =  combobox + obj[ob];
                    combobox =  combobox +'</option>';
            }
            $('engineno').innerHTML = combobox;
        }
	});
        }
}

</script>