<?php
    $data_array=array();
    $model = Mage::getModel("filter/filter");
    $collection = $model->getCollection();
    $data_array[-1] = 'Select Model';
    /*foreach ($collection as $product) {
        $id   = $product->getId();
        $model->load($id);
        $modelValue=$model->getModel();
        $data_array[$modelValue] = $modelValue;
    }*/
    
?>
<select name = "attribute" id = "attribute" onchange="return getProductList(this);">
	<?php foreach ($collection as $product) {
            $id   = $product->getId();
            $model->load($id);
            $modelValue=$model->getModel();
            $data_array[$modelValue] = $modelValue;
            ?>
		<option value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
	<?php } ?>
</select>
<div id="test">
</div>
<script>
var reloadurl = '<?php echo $this->getUrl('search/index/action') ?>';
function getProductList(obj){
	// alert(obj.name);
	// alert(obj.value);
	var param=  'attr='+obj.value;
	
	new Ajax.Request(reloadurl, {
	method: 'post',
	parameters: param,
	onComplete: function(transport) {
	$('test').innerHTML = "";
	// $('test').innerHTML = transport.responseText;
	response = transport.responseText;
	var select = document.createElement("select");
	var obj = JSON.parse(response);
// alert(obj.length);
	var combobox = "<select>";
	// var option = document.createElement("option");
	var ob;
	alert(obj);
	
	for(ob in obj){
		combobox =  combobox +'<option value= '+ob+'>';
		combobox =  combobox + obj[ob];
		combobox =  combobox +'</option>';
	}
	
		
		/*</option>
		//alert(obj[i].id);
		//alert(obj[i].id);	 
		alert(obj[i].id);
	  option.id = obj[i].id;
	  option.value = obj[i].id;
	  option.innerHTML = obj[i].id;
	  select.appendChild(option);
	  // alert(option.toSource());	  */

	combobox = combobox + '</select>';
	
	$('test').innerHTML = combobox;
}
	});
}
</script>
