<?php
$session = Mage::getSingleton("customer/session");
?>
<div class="select-vehicle">
	<h2>Select Vehicle</h2>
		<div class="SV-wrapper">
			<p>Consonum archipater sum Aeger Dux prius edo paterna precipue, cunae declaratio per dolositas Huic quod Sis canalis quam.</p>
				<form action="<?php echo $this->getUrl('filter/index/index') ?>" method="post" id="form-validate" >
					<select name = "make" id = "make" onchange="getModelList(this.value);" class="car">
						<?php 
							$data_array=array();
							$model = Mage::getModel("filter/filter");
							$collection = $model->getCollection();
							$collection -> getSelect() ->group('make'); 
							?>
							<option class="caroption" value = "-1">Select Make</option>
							<?php foreach ($collection as $product) {
								$id   = $product->getId();
								$model->load($id);
								$modelValue=$model->getMake();
								$data_array[$modelValue] = $modelValue;
								if($session->getData('sesMake') == $data_array[$modelValue]):
								?>
									<option class="caroption" value = "<?php echo $data_array[$modelValue];?>" selected="selected"><?php echo $data_array[$modelValue];?></option>
								<?php else : ?>
									<option class="caroption" value = "<?php echo $data_array[$modelValue];?>" ><?php echo $data_array[$modelValue];?></option>
								<?php endif; ?>    
						<?php } ?>
					</select>
					<select name = "model" id = "model" onchange="getYearList(this.value);" class="car">
						<?php 
							$data_array=array();
							$model = Mage::getModel("filter/filter");
							$collection = $model->getCollection();
							$collection -> getSelect() ->group('model'); 
							?>
							<option value = "-1">Select Model</option>
							<?php 
							foreach ($collection as $product) {
								$id   = $product->getId();
								$model->load($id);
								$modelValue=$model->getModel();
								$data_array[$modelValue] = $modelValue;
								?>
							<option class="caroption" value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
						<?php } ?>
					</select>
					<select name = "year" id = "year" onchange="return getEngnolList(this.value);" class="car">
						<?php 
							$data_array=array();
							$model = Mage::getModel("filter/filter");
							$collection = $model->getCollection();
							$collection -> getSelect() ->group('year'); 
							?>
							<option class="caroption" value = "-1">Select Year</option>
							<?php 
							foreach ($collection as $product) {
								$id   = $product->getId();
								$model->load($id);
								$modelValue=$model->getYear();
								$data_array[$modelValue] = $modelValue;
								?>
							<option class="caroption" value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
						<?php } ?>
					</select>
					<select name = "engineno" id = "engineno" class="car">
						<option class="caroption" value = "-1">Select Engine No</option>
						<?php 
						$data_array=array();
						$model = Mage::getModel("filter/filter");
						$collection = $model->getCollection();
						$collection -> getSelect() ->group('engineno'); 
						?>
						<option value = "-1">Select Engine No</option>
						<?php 
						foreach ($collection as $product) {
							$id   = $product->getId();
							$model->load($id);
							$modelValue=$model->getEngineno();
							$data_array[$modelValue] = $modelValue;
							?>
						<option class="caroption" value = "<?php echo $data_array[$modelValue];?>"><?php echo $data_array[$modelValue];?></option>
					<?php } ?>
				</select>
				<button type="submit" title="<?php echo $this->__('Submit') ?>" class="butt"><span><span><?php echo $this->__('GO!') ?> ></span></span></button>
			</form>
		</div>
	</div>
<script>
	var make = '<?php echo $session->getData('sesMake'); ?>';
	var model = '<?php echo $session->getData('sesModel'); ?>';
	var year = '<?php echo $session->getData('sesYear'); ?>';
	var engineno = '<?php echo $session->getData('sesEngineno'); ?>';
	function getModelList(obj){ 
            var reloadurl = '<?php echo $this->getUrl('filter/index/model') ?>';
            var param=  'make='+obj+'&model=-1&year=-1';
            if(obj!='-1'){  
                new Ajax.Request(reloadurl, {
                    method: 'post',
                    parameters: param,
                    onComplete: function(transport) {
                        $('model').innerHTML = "";
                        response = transport.responseText;
                        var obj = JSON.parse(response);
                        //alert(obj.toSource())
                        var combobox = '<option value="-1">Select Model</option>';
                        var ob;
                        for(ob in obj){
                           
                            if(ob=='-1'){
                                    $('year').innerHTML = '<option value="-1">Select Year</option>';
                                    $('engineno').innerHTML = '<option value="-1">Select Engine No</option>';
                            }    
                            var sel = '';
                            if(model == ob){
                                    sel = 'selected="selected"';
                            }

                            combobox =  combobox +'<option value= "'+ob+'" '+sel+'>';
                            combobox =  combobox + obj[ob];
                            combobox =  combobox +'</option>';

                        }

                        $('model').innerHTML = combobox;
                    }
                });
            }
	}
	function getYearList(obj){ 
			 var reloadurl = '<?php echo $this->getUrl('filter/index/model') ?>';
		   var param=  'make='+$('make').value+'&model='+obj+'&year=-1';
		   if(obj!='-1'){
		new Ajax.Request(reloadurl, {
		method: 'post',
		parameters: param,
		onComplete: function(transport) {
				$('year').innerHTML = "";
				response = transport.responseText;
				var obj = JSON.parse(response);
				var combobox = '<option value="-1">Select Year</option>';
				var ob;
				//alert(obj.toSource())
				for(ob in obj){
				if(ob=='-1'){
					$('engineno').innerHTML = '<option value="-1">Select Engine No</option>';
				}
						var sel = '';
						if(year == ob){
							sel = 'selected="selected"';
						}
						combobox =  combobox +'<option value= "'+ob+'" '+sel+'>';
						combobox =  combobox + obj[ob];
						combobox =  combobox +'</option>';
				}
				$('year').innerHTML = combobox;
			}
		});}
	}
	function getEngnolList(obj){ 
			 var reloadurl = '<?php echo $this->getUrl('filter/index/model') ?>';
			
		var param=  'make='+$('make').value+'&model='+$('model').value+'&year='+obj;
			if(obj!='-1'){
		new Ajax.Request(reloadurl, {
		method: 'post',
		parameters: param,
		onComplete: function(transport) {
				$('engineno').innerHTML = "";
				response = transport.responseText;
				var select = document.createElement("select");
				var obj = JSON.parse(response);
				var combobox = '<option value="-1">Select Engine No</option>';
				var ob;
				for(ob in obj){
						var sel = '';
						if(engineno == ob){
							sel = 'selected="selected"';
						}
						combobox =  combobox +'<option value= "'+ob+'" '+sel+'>';
						combobox =  combobox + obj[ob];
						combobox =  combobox +'</option>';
				}
				$('engineno').innerHTML = combobox;
			}
		});
			}
	}

	document.observe('dom:loaded', function() { 

	//alert(make);
	if(make != ""){
	 getModelList(make);
	}
	//alert(model);
	if(model != ""){
	getYearList(model);
	}
	//alert(year);
	if(year != ""){
	getEngnolList(year);
	}
	});
</script>
