@charset "UTF-8";
/* CSS Document */


/*
			Load CSS before JavaScript
		*/
		
		/*
			Slides container
			Important:
			Set the width of your slides container
			Set to display none, prevents content flash
		*/
		.slides_container {
			width:919px;
			height: 473px;
			display:none;
			border: 1px solid silver;
		}

		/*
			Each slide
			Important:
			Set the width of your slides
			If height not specified height will be set by the slide content
			Set to display block
		*/
		.slides_container div {
			width:919px;
			height:473px;
			display:block;
		}
		
		/*
			Optional:
			Reset list default style
		*/
		.pagination {
			list-style:none;
			margin:0;
			padding:0;
			padding-top: 10px;
		}

		/*
			Optional:
			Show the current slide in the pagination
		*/
		.pagination .current a {
			color:red;
		}
		
		
		#Slider .next { display: block; text-indent: -9999px; height: 30px; width: 20px; background: url(../images/next.gif) left top no-repeat; width: 31px; height: 51px; position: absolute; margin: -260px 0 0 890px; z-index: 1000; }
		#Slider .prev { display: block; text-indent: -9999px; height: 30px; width: 20px; background: url(../images/previous.gif) left top no-repeat; width: 31px; height: 51px;; position: absolute; margin: -260px 0 0 0px; z-index: 1000; }
		#Slider .pagination li {  float: left; margin-right: 2px;  }
		#Slider .pagination li a { display: block; text-indent: -9999px; height: 10px; width: 10px; background: #353535; border: 1px solid #353535; }
		#Slider .pagination li:last-child { margin-right: 0; }
		#Slider .pagination li.current a { background: silver; border: 1px solid #353535; }
