/* Context-independent */
.slide-show-render {
  font-family: 'Montserrat', sans-serif; }

.slide-show-render .slide-overlay {
  text-align: left; }

.slide-show-render h2 {
  text-transform: uppercase;
  font-weight: 300; }

.slide-show-render ol {
  margin: 0;
  padding: 0;
  display: block; }

.slide-show-render li {
  list-style: none;
  width: 980px;
  height: 450px;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  position: relative;
  border-bottom: 4px solid black; }

.slide-show-render .slide-heading {
  line-height: 1em;
  margin-bottom: 20px; }

.slide-show-render .slide-text {
  margin-bottom: 20px;
  line-height: 1.3; }

.slide-show-render .slide-button {
  font-size: 1.5em;
  line-height: 1.3; }

.slide-show-render .slide-overlay-wrapper {
  position: relative; }

.slide-show-render .slide-button span {
  background: black; }

.slide-show-render .slide-overlay {
  position: absolute;
  color: #fff;
  z-index: 50;
  text-shadow: 1px 1px 2px #000; }

.slide-show-render .slide-show-slides {
  position: relative;
  width: 980px;
  height: 454px;
  overflow: hidden; }

.slide-show-render .slide-show-slides button {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  line-height: normal;
  vertical-align: middle;
  background-color: transparent; }

.slide-show-render .btn-prev {
  background-image: url("../images/hero_prev.gif"); }

.slide-show-render .btn-next {
  background-image: url("../images/hero_next.gif");
  right: 0; }

.slide-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.slide-show-render-large .slide-overlay {
  width: 326.9px; }
.slide-show-render-large .slide-heading,
.slide-show-render-large .slide-text {
  margin-bottom: 18.68px; }
.slide-show-render-large .slide-heading {
  font-size: 59.776px; }
.slide-show-render-large .slide-text {
  font-size: 17.746px; }
.slide-show-render-large .slide-button {
  font-size: 17.746px; }
.slide-show-render-large .slide-button span {
  padding: 1.868px 9.34px 1.868px 9.34px; }
.slide-show-render-large .slide-overlay {
  top: 56.04px;
  left: 65.38px;
  width: 326.9px; }
.slide-show-render-large .slide-show-slides button {
  width: 18.68px;
  height: 37.36px;
  margin-top: -18.68px; }
.slide-show-render-large .slide-content {
  width: 915.32px;
  height: 420.3px; }
.slide-show-render-large .slide-image {
  max-width: 915.32px;
  max-height: 420.3px; }

.slide-show-render-small .slide-overlay {
  width: 61.25px; }
.slide-show-render-small .slide-heading,
.slide-show-render-small .slide-text {
  margin-bottom: 3.5px; }
.slide-show-render-small .slide-heading {
  font-size: 11.2px; }
.slide-show-render-small .slide-text {
  font-size: 3.325px; }
.slide-show-render-small .slide-button {
  font-size: 3.325px; }
.slide-show-render-small .slide-button span {
  padding: 0.35px 1.75px 0.35px 1.75px; }
.slide-show-render-small .slide-overlay {
  top: 10.5px;
  left: 12.25px;
  width: 61.25px; }
.slide-show-render-small .slide-show-slides button {
  width: 3.5px;
  height: 7px;
  margin-top: -3.5px; }
.slide-show-render-small .slide-content {
  width: 171.5px;
  height: 78.75px; }
.slide-show-render-small .slide-image {
  max-width: 171.5px;
  max-height: 78.75px; }

.slide-show-render-full .slide-overlay {
  width: 350px; }
.slide-show-render-full .slide-heading,
.slide-show-render-full .slide-text {
  margin-bottom: 20px; }
.slide-show-render-full .slide-heading {
  font-size: 64px; }
.slide-show-render-full .slide-text {
  font-size: 19px; }
.slide-show-render-full .slide-button {
  font-size: 19px; }
.slide-show-render-full .slide-button span {
  padding: 2px 10px 2px 10px; }
.slide-show-render-full .slide-overlay {
  top: 60px;
  left: 70px;
  width: 350px; }
.slide-show-render-full .slide-show-slides button {
  width: 20px;
  height: 40px;
  margin-top: -20px; }
.slide-show-render-full .slide-content {
  width: 980px;
  height: 450px; }
.slide-show-render-full .slide-image {
  max-width: 980px;
  max-height: 450px; }
