<?php
$session = Mage::getSingleton("customer/session");
?>
<div class="select-vehicle">
	<h2>Select Vehicle</h2>
		<div class="SV-wrapper">
			<p>Consonum archipater sum Aeger Dux prius edo paterna precipue, cunae declaratio per dolositas Huic quod Sis canalis quam.</p>
				<form action="<?php echo $this->getUrl('filter/index/index') ?>" method="post" id="form-validate" >
					<select name = "make" id = "make" onchange="getModelList(this.value);" class="car">
						<?php 
							$data_array=array();
							$attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product','make');
                                                        if ($attribute->usesSource()) {
                                                            $options = $attribute->getSource()->getAllOptions(false);
                                                            $cnt=0;
                                                            $data_array[0]='Select Make';
                                                            echo '<option class="caroption" value = "0">Select Make</option>';
                                                            for($j=0;$j<count($options);$j++){
								$makeoption=$options[$j]['value'];
                                                                $data_array[$makeoption]=$options[$j]['label'];
								if($session->getData('sesMake') == $makeoption):
								?>
									<option class="caroption" value = "<?php echo $makeoption;?>" selected="selected"><?php echo $data_array[$makeoption];?></option>
								<?php else : ?>
									<option class="caroption" value = "<?php echo $makeoption;?>" ><?php echo $data_array[$makeoption];?></option>
								<?php endif; ?>    
						<?php }}?>
					</select>
					<select name = "model" id = "model" onchange="getEngnoList(this.value);" class="car">
						<?php 
							$data_array=array();
							$attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product','model');
                                                        if ($attribute->usesSource()) {
                                                            $options = $attribute->getSource()->getAllOptions(false);
                                                            $cnt=0;
                                                            $data_array[0]='Select Model';
                                                            echo '<option class="caroption" value = "0">Select Model</option>';
                                                            /*for($j=0;$j<count($options);$j++){
								$makeoption=$options[$j]['value'];
                                                                $data_array[$makeoption]=$options[$j]['label'];?>
                                                                <option class="caroption" value = "<?php echo $makeoption;?>" ><?php echo $data_array[$makeoption];?></option>
								
						<?php }*/} ?>
					</select>
                                        <select name = "engineno" id = "engineno" onchange="return getYearList(this.value);" class="car">
						
						<?php 
						$data_array=array();
						$attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product','engineno');
                                                        if ($attribute->usesSource()) {
                                                            $options = $attribute->getSource()->getAllOptions(false);
                                                            $cnt=0;
                                                            $data_array[0]='Select Engine';
                                                            echo '<option class="caroption" value = "0">Select Engine</option>';
                                                            /*for($j=0;$j<count($options);$j++){
								$makeoption=$options[$j]['value'];
                                                                $data_array[$makeoption]=$options[$j]['label'];
                                                                ?>
                                                                <option class="caroption" value = "<?php echo $makeoption;?>" ><?php echo $data_array[$makeoption];?></option>
								
					<?php }*/}?>
                                        </select>
					<select name = "year" id = "year" class="car">
						<?php 
							$data_array=array();
                                                        $attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product','year');
                                                        if ($attribute->usesSource()) {
                                                            $options = $attribute->getSource()->getAllOptions(false);
                                                            $cnt=0;
                                                            $data_array[0]='Select Year';
                                                            echo '<option class="caroption" value = "0">Select Year</option>';
                                                            /*for($j=0;$j<count($options);$j++){
								$makeoption=$options[$j]['value'];
                                                                $data_array[$makeoption]=$options[$j]['label'];
                                                                ?><option class="caroption" value = "<?php echo $makeoption;?>" ><?php echo $data_array[$makeoption];?></option>
								
						<?php }*/ }?>
					</select>
					
				<button type="submit" title="<?php echo $this->__('Submit') ?>" class="butt"><span><span><?php echo $this->__('GO!') ?> ></span></span></button>
			</form>
		</div>
	</div>
<script>
	var make = '<?php echo $session->getData('sesMake'); ?>';
	var model = '<?php echo $session->getData('sesModel'); ?>';
	var year = '<?php echo $session->getData('sesYear'); ?>';
	var engineno = '<?php echo $session->getData('sesEngineno'); ?>';
        function getModelList(val,model){ 
          //  alert(obj);
                var reloadurl = '<?php echo $this->getUrl('filter/index/model') ?>';
                //if(make != ""){obj.value=make;}
                var param=  'make='+val+'&model=0&engineno=0';
                if(val!='0'){
                new Ajax.Request(reloadurl, {
                method: 'post',
                parameters: param,
                onComplete: function(transport) {
                    $('model').innerHTML = "";
                    response = transport.responseText;
                    var select = document.createElement("select");
                    var obj = JSON.parse(response);
                    //alert(obj.toSource())
                    var combobox = "";
                    var ob;
                    for(ob in obj){
                    if(ob==''){
                        $('year').innerHTML = '<option value="0">Select Year</option>';
                        $('engineno').innerHTML = '<option value="0">Select Engine</option>';
                    }    
                            var sel = '';
                            if(model == ob){
                                    sel = 'selected="selected"';
                            }

                            combobox =  combobox +'<option value= "'+ob+'" '+sel+'>';
                            combobox =  combobox + obj[ob];
                            combobox =  combobox +'</option>';
                    }

                    $('model').innerHTML = combobox;
                    if(model != ""){
                        getEngnoList(model,engineno);
                    }
                }
                });
                }
        }
        function getEngnoList(val,engineno){ 
                var reloadurl = '<?php echo $this->getUrl('filter/index/engineno') ?>';
                
                var param=  'make='+$('make').value+'&model='+val+'&engineno=0';
            if(val!='0'){
                new Ajax.Request(reloadurl, {
                method: 'post',
                parameters: param,
                onComplete: function(transport) {
                    $('engineno').innerHTML = "";
                    response = transport.responseText;
                    var select = document.createElement("select");
                    var obj = JSON.parse(response);
                    var combobox = "";
                    var ob;
                    //alert(obj.toSource())
                    for(ob in obj){
                    if(ob==''){
                        $('year').innerHTML = '<option value="0">Select Year</option>';
                    }
                            var sel = '';
                            if(engineno == ob){
                                    sel = 'selected="selected"';
                            }

                            combobox =  combobox +'<option value= "'+ob+'" '+sel+'>';
                            combobox =  combobox + obj[ob];
                            combobox =  combobox +'</option>';
                    }
                    $('engineno').innerHTML = combobox;
                    if(engineno != ""){
                        getYearList(engineno,year);
                    }
                }
                });}
        }
        function getYearList(val,year){ 
                var reloadurl = '<?php echo $this->getUrl('filter/index/year') ?>';
               
                var param=  'make='+$('make').value+'&model='+$('model').value+'&engineno='+val;
                if(val!='0'){
                new Ajax.Request(reloadurl, {
                method: 'post',
                parameters: param,
                onComplete: function(transport) {
                    $('year').innerHTML = "";
                    response = transport.responseText;
                    var select = document.createElement("select");
                    var obj = JSON.parse(response);
                    var combobox = "";
                    var ob;
                    for(ob in obj){
                            var sel = '';
                            if(year == ob){
                                    sel = 'selected="selected"';
                            }
                            combobox =  combobox +'<option value= "'+ob+'" '+sel+'>';
                            combobox =  combobox + obj[ob];
                            combobox =  combobox +'</option>';
                    }
                    $('year').innerHTML = combobox;
                }
                });
                }
        }


	document.observe('dom:loaded', function() { 

	//alert(make);
	if(make != ""){
	 getModelList(make,model);
	}
	//alert(model);
/*	if(model != ""){
            getEngnoList(model,engineno);
        }*/
	
	
	//alert(year);
	/*if(engineno != ""){
            getYearList(engineno,year);
	}*/
	});
</script>
